<div class="container">
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Tenders Detail</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-depth">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Tenders</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- news-section
            ================================================== -->
    <section class="news-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 panel panel-default panel-default-main">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>{{vm.tender.title}}</h1>
                        </div>
                        <div class="col-sm-offset-10 date" style="margin-top: 20px">
                            <i class="fa fa-clock-o"></i> Posted at Yegnacon on {{vm.tender.created_at | date:'mediumDate'}}
                        </div>
                    </div>
                    <div id="printableArea">
                        <div class="row">
                            <div class="row  col-md-6 ">
                                <table class="table table-responsive">
                                    <tr>
                                        <td>Company Name:</td>
                                        <td ng-show="vm.tender.company.data.name!=null">
                                            {{vm.tender.company.data.name}}
                                        </td>
                                        <td ng-show="vm.tender.company.data.name==null">
                                            {{vm.tender.user.data.name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Category:</td>
                                        <td><span class="label label-theme">
                                <i class="fa fa-tags"></i> {{vm.tender.category}}
                            </span></td>
                                    </tr>
                                    <tr>
                                        <td>Bid Document price:</td>
                                        <td>{{vm.tender.document_price|number:2}} ETB</td>
                                    </tr>
                                    <tr>
                                        <td>Bid Bond:</td>
                                        <td>{{vm.tender.bid_bond|number:0}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Published Date</td>
                                        <td>{{vm.tender.opening_date | date:'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Bid Closing Date</td>
                                        <td>{{vm.tender.closing_date | date:'mediumDate'}}</td>
                                    </tr>

                                </table>

                            </div>
                        </div>


                        <h2 class="sidebar-label">Tender Brief Description</h2>

                        <div class="row">
                            <div class="col-lg-12" ng-bind-html="vm.dumpHTML(vm.tender.description)">

                            </div>
                        </div>
                    </div>
                    <div class="row pull-right">
                        <button type="submit" ng-click="vm.printDiv('printableArea')" class="btn btn-orange btn-sm">
                            Print
                        </button>
                        <button type="submit" ng-click="vm.back()" class="btn btn-orange btn-sm">Back</button>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <img src="{{vm.companyLogo}}" alt="" width="80" height="80">

                        </div>
                        <div class="panel-heading">
                            <h2 class="sidebar-label">Company Info</h2>

                            <ul ng-if = "vm.tender.user" class="list-unstyled company-info">
                                <li><i class="fa fa-home"></i> {{vm.tender.user.data.name}}</li>
                                <li><i class="fa fa-phone"></i> {{vm.tender.user.data.address.data.phone_number_1}}</li>
                                <li><i class="fa fa-phone"></i> {{vm.tender.user.data.address.data.phone_number_2}}</li>
                                <li><i class="fa fa-envelope"></i> {{vm.tender.user.data.email}}</li>
                                <li><i class="fa fa-map-marker"></i>{{vm.tender.user.data.address.data.city }}
                                    , {{vm.tender.user.data.address.data.country }}
                                </li>

                            </ul>
                            <ul ng-if = "vm.tender.company" class="list-unstyled company-info">
                                <li><i class="fa fa-home"></i> {{vm.tender.company.data.name}}</li>
                                <li><i class="fa fa-phone"></i> {{vm.tender.company.data.address.data.phone_number_1}}</li>
                                <li><i class="fa fa-phone"></i> {{vm.tender.company.data.address.data.phone_number_2}}</li>
                                <li><i class="fa fa-envelope"></i> {{vm.tender.company.data.email}}</li>
                                <li><i class="fa fa-map-marker"></i>{{vm.tender.company.data.address.data.city }}
                                    , {{vm.tender.company.data.address.data.country }}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End news section -->
</div>