<div class="container" id="go_to_top">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>{{currentUser.subscriptions.data.package.data.package}} Contractor Dashboard</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="services-page-section news-section " style="padding-top: 5px">
        <div class="row">
            <div class="col-lg-3">
                <div class="side-navigation">
                    <ul class="side-navigation-list">
                        <!--li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.profile'}"
                               ui-sref="main.public.contractorDashboard.profile({contractorId:vm.contractorId})">Company
                            Profile</a></li>-->
                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.profile'}"
                               ui-sref="main.public.contractorDetail({contractorId:vm.contractorId})">Company
                            Profile</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.myProjects'}"
                               ui-sref="main.public.contractorDashboard.project({contractorId:vm.contractorId})">My
                            Projects</a></li>

                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.projectProforma'}"
                               ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'" ui-sref="main.public.contractorDashboard.projectProforma({contractorId:vm.contractorId})">Project
                                Proforma</a>
                        </li>
                        <li>
                            <a ng-class="{ 'active' : currentParentState=='contractorDashboard.productProforma'}"
                               ui-sref="main.public.contractorDashboard.productProforma({contractorId:vm.contractorId})">Product
                                Proforma</a>
                        </li>
                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.group'}"
                               ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'" ui-sref="main.public.contractorDashboard.groupList">My Proforma Groups</a></li>

                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.tender'}"
                               ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'" ui-sref="main.public.contractorDashboard.tender">Tenders</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.vacancy'}"
                               ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'" ui-sref="main.public.contractorDashboard.vacancy">Vacancies</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='contractorDashboard.employee'}" ui-sref="main.public.contractorDashboard.employee">Employees</a></li>
                        <li><a ui-sref="main.public.resetPassword">Account Setting</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <ui-view>

                </ui-view>

            </div>
        </div>


    </section>
</div>