<div class="panel panel-default panel-default-main">
    <form id="contact-form" name="contractorProfileForm"
          novalidate>
        <div class="alert alert-success fade in" ng-class="{ 'display-hidden': vm.updateSuccess == ''}">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ vm.updateSuccess }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.company_name.$touched || contractorProfileForm.$submitted) && contractorProfileForm.company_name.$invalid}">
                    <label>Company Name *</label>
                    <input type="text" class="" required name="company_name" ng-model="vm.contractor.name"
                           ng-disabled="true"/>

                    <div class="form_error" ng-messages="contractorProfileForm.company_name.$error"
                         ng-if="contractorProfileForm.company_name.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Company name is required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.company_name.$touched || contractorProfileForm.$submitted) && contractorProfileForm.company_name.$invalid}">
                    <label>Company Type</label>
                    <select required class="form-control" name="type" ng-model="vm.contractor.profile.data.type">
                        <option ng-repeat="type in vm.contractorTypes" value="{{ type }}">
                            {{ type }}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="contractorProfileForm.type.$error"
                         ng-if="contractorProfileForm.type.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Company Type must be selected.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.level.$touched || contractorProfileForm.$submitted) && contractorProfileForm.level.$invalid}">
                    <label>Company Level</label>
                    <select required class="form-control" name="level" ng-model="vm.contractor.profile.data.level">
                        <option ng-repeat="level in vm.companyLevels" value="{{ level }}">
                            {{ level }}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="contractorProfileForm.level.$error"
                         ng-if="contractorProfileForm.level.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Company level must be selected.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.establishment_date.$touched || contractorProfileForm.$submitted) && contractorProfileForm.establishment_date.$invalid}">
                    <label>Year of establishment</label>
                    <input type="date" name="establishment_date" ng-model="vm.contractor.profile.data.established_year">

                    <div class="form_error" ng-messages="contractorProfileForm.establishment_date.$error"
                         ng-if="contractorProfileForm.establishment_date.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Year of establishment is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Company Logo:</label>

                <div class="form-group">
                    <div class="row">
                        <a type="button" class="btn btn-orange btn-sm" data-toggle="modal"
                           data-target="#changePic"><i class="fa fa-edit"></i></a>
                        <img style="width:200px;height:200px;float:left;" src="{{ vm.contractor.logo }}">&nbsp;
                    </div>
                    <!-- Modal -->
                    <div id="changePic" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Change Picture</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group"
                                         ng-class="{'has-error':contractorProfileForm.file.$touched && contractorProfileForm.file.$invalid}">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="No Files Selected ... "
                                                   ng-model="vm.file.name">
                                            <span class="input-group-btn">
                                                    <button class="btn btn-orange" type="button"
                                                            class="btn btn-primary btn-sm" ngf-select ng-model="vm.file"
                                                            name="file" id="file2" ngf-pattern="'image/*'"
                                                            ngf-accept="'image/*'" ngf-max-size="20MB"
                                                            ngf-min-height="100"
                                                    >Browse...
                                                    </button>
                                                </span>
                                        </div>
                                        <div class="help-block" ng-messages="contractorProfileForm.file.$error">
                                            <div ng-message="maxSize">The file must be less than 2MB</div>
                                            <div ng-message="minHeight">The file must be at least 100px high</div>
                                            <div ng-message="pattern">Invalid File Type</div>
                                            <div ng-message="required">You must upload a project Logo</div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <img ng-show="vm.file" style="width:100px;height:100px;float:left;"
                                             ngf-thumbnail="vm.file">&nbsp;
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-orange" ng-click="vm.updatePicture()" data-dismiss="modal">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="sidebar-label">Contact</h2>
                <hr>

            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.city.$touched || contractorProfileForm.$submitted) && contractorProfileForm.city.$invalid}">
                    <label>City</label>
                    <select required ng-model="vm.contractor.address.data.city" name="city" class="form-control">
                        <option ng-repeat="location in vm.locations" value="{{location}}">{{location}}</option>
                    </select>

                    <div class="form_error" ng-messages="contractorProfileForm.city.$error"
                         ng-if="contractorProfileForm.city.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">City is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.subcity.$touched || contractorProfileForm.$submitted) && contractorProfileForm.subcity.$invalid}">
                    <label>Sub City</label>
                    <input type="text" name="subcity" ng-model="vm.contractor.address.data.sub_city"/>

                    <div class="form_error" ng-messages="contractorProfileForm.subcity.$error"
                         ng-if="contractorProfileForm.subcity.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Sub City is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.company_name.$touched || contractorProfileForm.$submitted) && contractorProfileForm.company_name.$invalid}">
                    <label>House Number</label>
                    <input type="text" name="house_number" placeholder=""
                           ng-model="vm.contractor.address.data.house_no"/>

                    <div class="form_error" ng-messages="contractorProfileForm.house_number.$error"
                         ng-if="contractorProfileForm.house_number.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">House Number is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Specific Address <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="specific_address" placeholder="eg.building name,floor,office No"
                           ng-model="vm.contractor.address.data.specific_address"/>

                    <div class="form_error" ng-messages="contractorProfileForm.specific_address.$error"
                         ng-if="contractorProfileForm.specific_address.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Specific Address is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.house_number.$touched || contractorProfileForm.$submitted) && contractorProfileForm.house_number.$invalid}">
                    <label>Main Phone No.</label>
                    <input type="text" name="house_number" placeholder="eg. +251 911 000000"
                           ng-model="vm.contractor.address.data.phone_number_1"/>

                    <div class="form_error" ng-messages="contractorProfileForm.house_number.$error"
                         ng-if="contractorProfileForm.house_number.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Main Phone No. is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cell Phone <span class="additional-text"> (SMS purposes)</span></label>
                    <input type="text" name="second_phone" placeholder="eg. +251 911 000000"
                           ng-model="vm.contractor.address.data.phone_number_2"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" disabled ng-model="vm.contractor.email"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.country.$touched || contractorProfileForm.$submitted) && contractorProfileForm.country.$invalid}">
                    <label>Country</label>
                    <input type="text" name="country" ng-model="vm.contractor.address.data.country"  value="Ethiopia"/>

                    <div class="form_error" ng-messages="contractorProfileForm.country.$error"
                         ng-if="contractorProfileForm.country.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Country is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" >
                    <label>Website <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="website" ng-model="vm.contractor.address.data.website"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Facebook link<span class="additional-text"> (optional)</span></label>
                    <input type="text" name="facebook" ng-model="vm.contractor.address.data.facebook_link"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Twitter Link<span class="additional-text" style=""> (optional)</span></label>
                    <input type="text" name="twitter" ng-model="vm.contractor.address.data.twitter_link"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Linkedin Link <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="linkedin" ng-model="vm.contractor.address.data.linkidin_link"/>
                </div>
            </div>
            <div class="col-md-12">
                <h2 class="sidebar-label">Company Brief Description</h2>
                <hr>
                <div class="form-group" ng-class="{ 'has-error': (contractorProfileForm.description.$touched || contractorProfileForm.$submitted) && contractorProfileForm.description.$invalid}">
                    <label>Description</label>
                
                    <text-angular required ng-model="vm.contractor.profile.data.description" name="description"></text-angular>
                    <div class="form_error" ng-messages="contractorProfileForm.description.$error"
                         ng-if="contractorProfileForm.description.$touched || contractorProfileForm.$submitted" role="alert">
                        <p ng-message="required">Description is required</p>
                    </div>
                </div>
                <input type="submit" class="pull-right" value="Save Changes" ng-click="vm.updateContractor(contractorProfileForm.$valid)"/>

            </div>

        </div>



    </form>
</div>
