<div class="panel panel-default panel-default-main">
    <form id="contact-form" name="form" novalidate>
        <h2 class="sidebar-label">Leave Request Form</h2>

        <div class="product-form">
            <div class="row">
                <div class="col-md-6 form-group" ng-class="{ 'has-error': form.leaveName.$touched && form.leaveName.$invalid }">
                    <label>Leave Type</label>
                    <select class="form-control" name="leaveName" ng-model="vm.leaveName" ng-required="true">
                        <option value="Annual Leave" selected="selected">Annual Leave</option>
                        <option value="Sick Leave">Sick Leave</option>
                        <option value="Marriage Leave">Marriage Leave</option>
                        <option value="Maternity Leave">Maternity Leave</option>
                        <option value="Paternity Leave">Paternity Leave</option>
                        <option value="Mourning Leave">Mourning Leave</option>
                        <option value="Leave without pay">Leave without pay</option>
                    </select>
                    <div class="form_error" ng-messages="form.leaveName.$error" ng-if="form.leaveName.$touched" role="alert" >
                        <p ng-message="required">You have to choose a Leave type</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.startingDate.$touched && form.startingDate.$invalid }">
                    <label>Leave starting Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" name="startingDate" placeholder="mm/dd/yyyy" ng-model="vm.startingDate" ng-required="true" uib-datepicker-popup="MM/dd/yyyy" is-open="vm.popupOpened" popup-placement="left" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>

                    <div class="form_error" ng-messages="form.startingDate.$error" ng-if="form.startingDate.$touched" role="alert" >
                        <p ng-message="required">You have to enter a starting Date</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.noOfDays.$touched && form.noOfDays.$invalid }">
                    <label>Number of Days</label>
                    <input class="form-control" required type="number" min="1" onkeypress="return event.charCode >= 48" class="" ng-model="vm.noOfDays" name="noOfDays" ng-required="true"/>

                    <div class="form_error" ng-messages="form.noOfDays.$error" ng-if="form.noOfDays.$touched" role="alert" >
                        <p ng-message="required">You have to enter number of days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" style="margin-bottom:10px; margin-top: -10px" class="btn main-color pull-right" value="Submit" ng-click="vm.requestLeave()" ng-disabled="form.$invalid"/> <!--value={{ vm.vacancy_label }}-->
                </div>

            </div>

        </div>
        <div>
        </div>

    </form>


</div>