<section>
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row bootplus-card" style="padding-top: 0; margin: 0;">
                <!--<div class="alert alert-danger fade in" ng-class="{ 'display-hidden': vm.registrationError == ''}">
                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Registration Error!</strong> {{ vm.registrationError }}
                </div>-->
                <form id="passwordResetForm" class="register-form" name="passwordResetForm" style="padding: 0 20px 0;" role="form" novalidate>

                    <h1 class="text-center" style="margin-top: 5px;">Account Settings</h1>

                    <!--<div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.email.$touched  && passwordResetForm.email.$invalid }">
                                <label>Email</label>
                                <input name="email" type="email" placeholder="Email" required ng-model="vm.employee.employee.user.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control"/>
                                <div class="form_error" ng-messages="passwordResetForm.email.$error" ng-if="passwordResetForm.email.$touched" role="alert" >
                                    <p ng-message="required">Email cannot be empty!</p>
                                    <p ng-message="pattern">Please enter a valid email address!</p>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.oldPassword.$touched && passwordResetForm.oldPassword.$invalid }">
                                <label>Old Password</label>
                                <input type="password" id="oldPassword" name="oldPassword" placeholder="" required class="form-control" ng-model="vm.oldPassword">
                                <div class="form_error" ng-messages="passwordResetForm.oldPassword.$error" ng-if="passwordResetForm.oldPassword.$touched" role="alert" >
                                    <p ng-message="required">Please enter your Old Password</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.newPassword.$touched && passwordResetForm.newPassword.$invalid }">
                                <label>New Password <span style="font-weight: lighter; font-style: italic">( >= 6 Chars )</span></label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" required placeholder="New Password" ng-model="vm.newPassword" minlength="6">
                                <div class="form_error" ng-messages="passwordResetForm.newPassword.$error" ng-if="passwordResetForm.newPassword.$touched" role="alert" >
                                    <p ng-message="required">Please enter a New Password</p>
                                    <p ng-message="minlength">Your New Password must be at least 6 Characters</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': passwordResetForm.newPasswordConfirm.$touched && passwordResetForm.newPasswordConfirm.$invalid }">
                                <label>Confirm New Password</label>
                                <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" required placeholder="New Password" ng-pattern="vm.newPassword" ng-model="vm.confirmNewPassword">
                                <div class="form_error" ng-messages="passwordResetForm.newPasswordConfirm.$error" ng-if="passwordResetForm.newPasswordConfirm.$touched" role="alert" >
                                    <p ng-message="required">Please confirm your New Password</p>
                                    <p ng-message="pattern">The New Passwords don't match</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="button" style="margin-bottom:10px; margin-top: -10px" class="btn main-color pull-right" value="Save Changes" ng-disabled = "passwordResetForm.$invalid" ng-click="vm.resetPassword()" /> <!--ng-disabled = "passwordResetForm.$invalid"-->
                </form>
            </div>

        </div>
    </div>
</section>