<div class="panel panel-default panel-default-main">
    <form id="contact-form" ng-submit="vm.updateProjectOwner(projectOwnerProfileForm.$valid)" name="projectOwnerProfileForm"
          novalidate>
        <div class="alert alert-success fade in" ng-class="{ 'display-hidden': vm.updateSuccess == ''}">
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> {{ vm.updateSuccess }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.name.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.name.$invalid}">
                    <label>Company Name *</label>
                    <input type="text" class="" required name="name" ng-model="vm.projectOwner.name"
                           ng-disabled="true"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.name.$error"
                         ng-if="projectOwnerProfileForm.name.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Company name is required.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.type.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.type.$invalid}">
                    <label>Type</label>
                    <select required class="form-control" name="type" ng-model="vm.type">
                        <option ng-repeat="type in vm.projectOwnerTypes" value="{{ type }}">
                            {{ type }}
                        </option>
                    </select>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.type.$error"
                         ng-if="projectOwnerProfileForm.type.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Company Type must be selected.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label>Company Logo:</label>

                <div class="form-group">
                    <div class="row">
                        <a type="button" class="btn btn-orange btn-sm" data-toggle="modal"
                           data-target="#changePic"><i class="fa fa-edit"></i></a>
                        <img style="width:200px;height:200px;float:left;" ng-src="{{ vm.projectOwner.logo }}">&nbsp;
                    </div>
                    <!-- Modal -->
                    <div id="changePic" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Change Picture</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group"
                                         ng-class="{'has-error':projectOwnerProfileForm.file.$touched && projectOwnerProfileForm.file.$invalid}">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="No Files Selected ... "
                                                   ng-model="vm.file.name">
                                            <span class="input-group-btn">
                                                    <button class="btn btn-orange" type="button"
                                                            class="btn btn-primary btn-sm" ngf-select ng-model="vm.file"
                                                            name="file" id="file2" ngf-pattern="'image/*'"
                                                            ngf-accept="'image/*'" ngf-max-size="20MB"
                                                            ngf-min-height="100"
                                                    >Browse...
                                                    </button>
                                                </span>
                                        </div>
                                        <div class="help-block" ng-messages="projectOwnerProfileForm.file.$error">
                                            <div ng-message="maxSize">The file must be less than 2MB</div>
                                            <div ng-message="minHeight">The file must be at least 100px high</div>
                                            <div ng-message="pattern">Invalid File Type</div>
                                            <div ng-message="required">You must upload a project Logo</div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <img ng-show="vm.file" style="width:100px;height:100px;float:left;"
                                             ngf-thumbnail="vm.file">&nbsp;
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-orange" ng-click="vm.updatePicture()" data-dismiss="modal">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal -->

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="sidebar-label">Contact</h2>
                <hr>

            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.city.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.city.$invalid}">
                    <label>City</label>
                
                    <select required ng-model="vm.city" name="city" class="form-control">
                        <option ng-repeat="location in vm.locations" value="{{location}}">{{location}}</option>
                    </select>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.city.$error"
                         ng-if="projectOwnerProfileForm.city.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">City is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.subcity.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.subcity.$invalid}">
                    <label>Sub City</label>
                    <input type="text" name="subcity" ng-model="vm.sub_city"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.subcity.$error"
                         ng-if="projectOwnerProfileForm.subcity.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Sub City is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.house_number.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.house_number.$invalid}">
                    <label>House Number</label>
                    <input type="text" name="house_number" placeholder=""
                           ng-model="vm.house_no"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.house_number.$error"
                         ng-if="projectOwnerProfileForm.house_number.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">House Number is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.specific_address.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.specific_address.$invalid}">
                    <label>Specific Address <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="specific_address" placeholder="eg.building name,floor,office No"
                           ng-model="vm.specific_address"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.specific_address.$error"
                         ng-if="projectOwnerProfileForm.specific_address.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Specific Address is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.house_number.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.house_number.$invalid}">
                    <label>Main Phone No.</label>
                    <input type="number" name="house_number" placeholder="eg. +251 911 000000"
                           ng-model="vm.phone_number_1"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.house_number.$error"
                         ng-if="projectOwnerProfileForm.house_number.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Main Phone No. is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>2nd phone Number <span class="additional-text"> (optional)</span></label>
                    <input type="number" name="second_phone" placeholder="eg. +251 911 000000"
                           ng-model="vm.phone_number_2"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" disabled ng-model="vm.projectOwner.email"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': (projectOwnerProfileForm.country.$touched || projectOwnerProfileForm.$submitted) && projectOwnerProfileForm.country.$invalid}">
                    <label>Country</label>
                    <input type="text" name="country" ng-model="vm.country" disabled value="Ethiopia"/>

                    <div class="form_error" ng-messages="projectOwnerProfileForm.country.$error"
                         ng-if="projectOwnerProfileForm.country.$touched || projectOwnerProfileForm.$submitted" role="alert">
                        <p ng-message="required">Country is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" >
                    <label>Website <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="website" ng-model="vm.website"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Facebook link<span class="additional-text"> (optional)</span></label>
                    <input type="text" name="facebook" ng-model="vm.facebook_link"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Twitter Link<span class="additional-text" style=""> (optional)</span></label>
                    <input type="text" name="twitter" ng-model="vm.twitter_link"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Linkedin Link <span class="additional-text"> (optional)</span></label>
                    <input type="text" name="linkedin" ng-model="vm.linkidin_link"/>
                </div>
            </div>
            <div class="col-md-12">

                <input type="submit" class="pull-right" value="Save Changes"/>

            </div>

        </div>



    </form>
</div>
