<div class="container" id="go_to_top">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>Project Owner Dashboard</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="services-page-section news-section " style="padding-top: 5px">
        <div class="row">
            <div class="col-lg-3">
                <div class="side-navigation">
                    <ul class="side-navigation-list">
                        <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.profile'}"
                               ui-sref="main.public.projectOwnerDashboard.profile({projectOwnersId:vm.projectOwnersId})">My
                            Profile</a></li>
                        <li><a ui-sref="main.public.resetPassword">Account Setting</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <ui-view>

                </ui-view>

            </div>
        </div>


    </section>
</div>