<div class="container">
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Vacancy Detail</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-depth">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="index.html">Vacancy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- news-section
            ================================================== -->
    <section class="news-section">
        <div class="row">
            <div class="col-lg-9 panel panel-default panel-default-main">
                <div id="printableArea">
                    <div class="row">
                        <h1 class="col-lg-10">{{vm.vacancy.title}}</h1>

                        <div class="col-lg-2 date pull-right">
                            <i class="fa fa-clock-o"> </i>{{vm.vacancy.posted_date|date:'mediumDate'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="row  col-md-6 ">
                            <table class="table table-responsive">
                                <tr>
                                    <td>Company Name:</td>
                                    <td ng-show="vm.vacancy.company.data.name!=null">
                                        {{vm.vacancy.company.data.name}}
                                    </td>
                                    <td ng-show="vm.vacancy.company.data.name==null">
                                        {{vm.vacancy.company}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Educational Level:</td>
                                    <td>{{vm.vacancy.education_level}}</td>
                                </tr>
                                <tr>
                                    <td>Experience:</td>
                                    <td>{{vm.vacancy.experience}}</td>
                                </tr>
                                <tr>
                                    <td>Work Place</td>
                                    <td>{{vm.vacancy.work_place}}</td>
                                </tr>
                                <tr>

                                    <td>Salary</td>
                                    <td ng-if="vm.vacancy.salary!=0">{{vm.vacancy.salary}} ETB</td>
                                    <td ng-if="vm.vacancy.salary==0">Negotiable</td>
                                </tr>

                                <tr>
                                    <td>Closing Date</td>
                                    <td>{{vm.vacancy.closing_date | date:'MMM dd, yyyy'}}</td>
                                </tr>

                            </table>

                        </div>
                    </div>

                    <h2 class="sidebar-label">Vacancy Brief Description</h2>

                    <div class="row">
                        <div class="col-lg-12" ng-bind-html="vm.dumpHTML(vm.vacancy.description)">

                        </div>
                    </div>
                </div>
                <div class="row pull-right">
                    <button type="submit" ng-click="vm.printDiv('printableArea')" class="btn btn-orange btn-sm">Print
                    </button>
                    <button type="submit" ng-click="vm.back()" class="btn btn-orange btn-sm">Back</button>
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img src="{{vm.companyLogo}}" alt="" width="80" height="80">

                    </div>
                    <div class="panel-heading">
                        <h2 class="sidebar-label">Company Info</h2>
                        <ul ng-show="vm.vacancy.company.data.name==null" class="list-unstyled company-info">
                            <li><i class="fa fa-home"></i> {{vm.vacancy.user.data.name}}</li>
                            <li><i class="fa fa-phone"></i> {{vm.vacancy.user.data.address.data.phone_number_1}}</li>
                            <li><i class="fa fa-phone"></i> {{vm.vacancy.user.data.address.data.phone_number_2}}</li>
                            <li><i class="fa fa-envelope"></i> {{vm.vacancy.user.data.email}}</li>
                            <li><i class="fa fa-map-marker"></i>{{vm.vacancy.user.data.address.data.sub_city}},{{vm.vacancy.user.data.address.data.city}}
                                , {{vm.vacancy.user.data.address.data.country}}
                            </li>

                        </ul>
                        <ul ng-show="vm.vacancy.company.data.name!=null" class="list-unstyled company-info">
                            <li><i class="fa fa-home"></i> {{vm.vacancy.company.data.name}}</li>
                            <li><i class="fa fa-phone"></i> {{vm.vacancy.company.data.address.data.phone_number_1}}</li>
                            <li><i class="fa fa-phone"></i> {{vm.vacancy.company.data.address.data.phone_number_2}}</li>
                            <li><i class="fa fa-envelope"></i> {{vm.vacancy.company.data.email}}</li>
                            <li><i class="fa fa-map-marker"></i>{{vm.vacancy.company.data.address.data.sub_city}},{{vm.vacancy.user.data.address.data.city}}
                                , {{vm.vacancy.company.data.address.data.country}}
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End news section -->
</div>