﻿<body class="">

    <!-- Page container -->
    <div class="page-container login-container ">

        <!-- Page content -->
        <div class="page-content ">

            <!-- Main content -->
            <div class="content-wrapper ">

                <!-- Tabbed form -->
                <div class="tabbable panel login-form width-400">

                    <div class="tab-content panel-body">
                        <div class="tab-pane fade in active" id="basic-tab1">
                            <form>
                                <div class="text-center">
                                    <img style="height: 25%;width: 25%" src="assets/images/admin/logo.png">
                                    <h5 class=" Center" style=>
                                        Login to your account
                                        <small class="display-block  alert-danger">{{vm.loginError}}</small>
                                        <img ng-show="vm.authenticating" width="50px" height="50px" src="assets/images/loading.gif"/>
                                    </h5>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                           required="required" ng-model="vm.email">

                                    <div class="form-control-feedback">
                                        <i class="icon-user text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group has-feedback has-feedback-left">
                                    <input type="password" class="form-control" placeholder="password" name="Password"
                                           required="required" ng-model="vm.password">

                                    <div class="form-control-feedback">
                                        <i class="icon-lock2 text-muted"></i>
                                    </div>
                                </div>

                                <div class="form-group login-options">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" class="styled" checked="checked">
                                                Remember
                                            </label>
                                        </div>

                                        <div class="col-sm-6 text-right">
                                            <a href="login_password_recover.html">Forgot password?</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button ng-click="vm.singIn()" class="btn bg-blue btn-block">Login <i
                                            class="icon-arrow-right14 position-right"></i></button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                <!-- /tabbed form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

        <!-- Footer -->
        <div class="footer text-white" >
            <a style="color: white">&copy; 2016.Yegnacon Web App by</a> <a
                href="http://yokida.com" target="_blank" target="_blank">Yokida Consult</a>
        </div>
        <!-- /footer -->

    </div>
    <!-- /page container -->
</body>