<div class="panel panel-default panel-default-main" style="padding-top: 150px !important;">
    <div class="row">
        <div class="col-sm-10">
            <h2 class="text-center">Notifications</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Notification</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'info': notification.status == 'unread'}"
                    dir-paginate="notification in vm.notifications | itemsPerPage: vm.itemsPerPage" total-items="vm.totalItems" current-page="vm.currentPage">
                    <th>{{ notification.order }}</th>
                    <th ng-click="vm.readNotification(notification)">
                        <a >{{ notification.title }}</a>
                    </th>
                    <th>{{ notification.type }}</th>
                </tr>
                </tbody>
            </table>
            <ul class="pagination pagination-separated pagination-rounded text-center">
                <dir-pagination-controls on-page-change="vm.getTenders()"></dir-pagination-controls>
            </ul>
        </div>
    </div>

</div>
