<div class="panel panel-default panel-default-main">
    <form id="contact-form" name="form" novalidate>
        <div class="row">
            <div class="col-sm-4">
                <h2 class="sidebar-label">Add Employee Form</h2>
            </div>
            <div class="col-sm-2">
                <button ui-sref="main.public.contractorDashboard.leaveRequests"
                        class="btn btn-default btn-action pull-right">Leave Requests
                </button>
            </div>
            <div class="col-sm-2">
                <button ui-sref="main.public.contractorDashboard.leaveHistory"
                        class="btn btn-default btn-action pull-right">Leave History
                </button>
            </div>
            <div class="col-sm-2">
                <button ui-sref="main.public.contractorDashboard.leaveSettings"
                        class="btn btn-default btn-action pull-right">Leave Settings
                </button>
            </div>
            <div class="col-sm-2">
                <button ui-sref="main.public.contractorDashboard.employeeCreate"
                        class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i> Add Employee
                </button>
            </div>
        </div>
        <div class="product-form">
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.name.$touched && form.name.$invalid }">
                    <label>Employee Name</label>
                    <input class="form-control" ng-required="true" type="text" class="" name="name"
                           ng-model="vm.name"/>

                    <div class="form_error" ng-messages="form.name.$error" ng-if="form.name.$touched" role="alert" >
                        <p ng-message="required">Employee Name is required</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.title.$touched && form.title.$invalid }">
                    <label>Employee Title</label>
                    <input class="form-control" ng-required="true" type="text" class="" name="title"
                           ng-model="vm.title"/>

                    <div class="form_error" ng-messages="form.title.$error" ng-if="form.title.$touched" role="alert" >
                        <p ng-message="required">Employee Title is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.type.$touched && form.type.$invalid }">
                    <label>Employment Type</label>
                    <select class="form-control" ng-model="vm.type" name="type" ng-required="true">
                        <option value="Full Time">Full Time</option>
                        <option value="Contract">Contract</option>
                    </select>

                    <div class="form_error" ng-messages="form.type.$error" ng-if="form.type.$touched" role="alert" >
                        <p ng-message="required">Employment Type is required</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.phoneNo.$touched && form.phoneNo.$invalid }">
                    <label>phone Number</label>
                    <input class="form-control" ng-required="true" type="text" class="" name="phoneNo"
                           ng-model="vm.phone"/>

                    <div class="form_error" ng-messages="form.phoneNo.$error" ng-if="form.phoneNo.$touched" role="alert" >
                        <p ng-message="required">Phone Number is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.email.$touched && form.email.$invalid }">
                    <label>Email</label>
                    <input class="form-control" required type="email" class="" name="email"
                           ng-model="vm.email" ng-required="true"/>

                    <div class="form_error" ng-messages="form.email.$error" ng-if="form.email.$touched" role="alert" >
                        <p ng-message="required">Email is required</p>
                        <p ng-message="email">Please enter a valid Email</p>
                    </div>
                </div>
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.password.$touched && form.password.$invalid }">
                    <label>Password <span style="font-weight: lighter; font-style: italic">(4 Characters Minimum)</span></label>
                    <input class="form-control" type="text" class="" name="password"
                           ng-model="vm.password" ng-required="true" minlength="4"/>

                    <div class="form_error" ng-messages="form.password.$error" ng-if="form.password.$touched" role="alert" >
                        <p ng-message="required">Please enter a New Password</p>
                        <p ng-message="minlength">Password must be at least 4 Characters</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.city.$touched && form.city.$invalid }">
                    <label>City</label>
                    <input class="form-control" ng-required="true" type="text" name="city"
                           ng-model="vm.city"/>

                    <div class="form_error" ng-messages="form.city.$error" ng-if="form.city.$touched" role="alert" >
                        <p ng-message="required">City is required</p>
                    </div>
                </div>

                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.subcity.$touched && form.subcity.$invalid }">
                    <label>Sub City</label>
                    <input class="form-control" ng-required="true" type="text" name="subcity"
                           ng-model="vm.subcity"/>

                    <div class="form_error" ng-messages="form.subcity.$error" ng-if="form.subcity.$touched" role="alert" >
                        <p ng-message="required">Sub City is required</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group"
                     ng-class="{ 'has-error': form.date.$touched && form.date.$invalid }">
                    <label>Employment Date</label>
                    <p class="input-group">
                        <input type="text" class="form-control" name="date" placeholder="mm/dd/yyyy" ng-model="vm.date" ng-required="true" uib-datepicker-popup="MM/dd/yyyy" is-open="vm.popupOpened" popup-placement="right-bottom" close-text="Close" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>

                    <div class="form_error" ng-messages="form.date.$error" ng-if="form.date.$touched" role="alert" >
                        <p ng-message="required">Employment Date is required</p>
                    </div>
                </div>
            </div>
                <!--<div class="col-md-6 form-group"
                     ng-class="{ 'has-error': (vacancyCreateForm.closing_date.$touched || vacancyCreateForm.$submitted) && vacancyCreateForm.closing_date.$invalid}">

                    <div class="form-group">
                        <label>Employee Photo</label>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn main-color" type="button"
                                        ngf-select ng-model="vm.file" id="file2"
                                        ngf-pattern="'.pdf, .doc,.docx, .xls, .xlsx, .jpg'"
                                        ngf-accept="'.pdf, .doc,.docx, .xls, .xlsx,.jpg'" ngf-max-size="20MB"
                                ><i class="fa fa-paperclip"></i> Attach File
                                </button>
                            </span>
                            <input type="text" name="file" class="form-control" placeholder="No Files Selected ... "
                                   ng-model="vm.file.name">
                        </div>
                        <div class="form_error" ng-messages="proformaForm.file.$error"
                             ng-if="proformaForm.file.$touched" role="alert">
                            <div ng-message="maxSize">The file must be less than 2MB</div>
                            <div ng-message="minHeight">The file must be at least 100px high</div>
                            <div ng-message="pattern">Invalid File Type</div>
                            <div ng-message="required">You must upload a project Doc.</div>
                        </div>
                    </div>

                </div>-->
            <!---->
        </div>
        <div class="row">

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" class="btn main-color pull-right" value="Submit" ng-click="vm.addEmployee()" ng-disabled="form.$invalid"/>
                </div>

            </div>

        </div>
        <div>
        </div>

    </form>


</div>