<div class="panel panel-default panel-default-main">
   <form id="contact-form" name="form">
   <div class="row">
        <div class="col-sm-4">
            <h2 class="sidebar-label">Employees Leave Settings</h2>
        </div>
       <div class="col-sm-2">
           <button ui-sref="main.public.contractorDashboard.leaveRequests"
                   class="btn btn-default btn-action pull-right">Leave Requests
           </button>
       </div>
       <div class="col-sm-2">
           <button ui-sref="main.public.contractorDashboard.leaveHistory"
                   class="btn btn-default btn-action pull-right">Leave History
           </button>
       </div>
       <div class="col-sm-2">
           <button ui-sref="main.public.contractorDashboard.leaveSettings"
                   class="btn btn-default btn-action pull-right">Leave Settings
           </button>
       </div>
       <div class="col-sm-2">
           <button ui-sref="main.public.contractorDashboard.employeeCreate"
                   class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i> Add Employee
           </button>
       </div>
   </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Leave Type</th>
                <th>Number of Days</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat="item in vm.leaves">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" value="{{item.value}}" ng-model="item.value" ng-change="vm.changed(item.id,item.value)"></td>
            </tr>-->
            <tr>
                <td>1</td>
                <td>{{vm.leaves[0].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[0].value" name="value1" ng-required="true"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{vm.leaves[1].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[1].value" name="value2" ng-required="true"></td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{vm.leaves[2].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[2].value" name="value3" ng-required="true"></td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{vm.leaves[3].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[3].value" name="value4" ng-required="true"></td>
            </tr>
            <tr>
                <td>5</td>
                <td>{{vm.leaves[4].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[4].value" name="value5" ng-required="true"></td>
            </tr>
            <tr>
                <td>6</td>
                <td>{{vm.leaves[5].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[5].value" name="value6" ng-required="true"></td>
            </tr>
            <tr>
                <td>7</td>
                <td>{{vm.leaves[6].name}}</td>
                <td><input type="number" min="0" onkeypress="return event.charCode >= 48" ng-model="vm.leaves[6].value" name="value7" ng-required="true"></td>
            </tr>
       <!-- <select ng-model="item">
             <option ng-repeat="item in vm.leaves" ng-click="vm.getItem('item')">{{item.name}}</option>
        </select>-->

           <!-- <input type="text" ng-model="vm.x.name"  onkeypress="return event.charCode >= 48">-->
        </tbody>
    </table>
    <div class="form_error" ng-messages="form.value1.$error" ng-if="form.value1.$touched" role="alert" style="float:right;">
       <p ng-message="required">Input field for {{vm.leaves[0].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value2.$error" ng-if="form.value2.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[1].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value3.$error" ng-if="form.value3.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[2].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value4.$error" ng-if="form.value4.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[3].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value5.$error" ng-if="form.value5.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[4].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value6.$error" ng-if="form.value6.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[5].name}} is empty</p>
   </div>
   <div class="form_error" ng-messages="form.value7.$error" ng-if="form.value7.$touched" role="alert" style="float:right; clear: both;">
       <p ng-message="required">Input field for {{vm.leaves[6].name}} is empty</p>
   </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <input type="submit"  class="btn main-color pull-right" ng-click="vm.updateLeaves()" value="Submit" ng-disabled="form.$invalid"/>
            </div>
        </div>
    </div>
   </form>
   <!-- <ul class="pagination pagination-separated pagination-rounded text-center">
        <dir-pagination-controls on-page-change="vm.getVacancies()"></dir-pagination-controls>
    </ul>-->
</div>
