<div class="panel panel-default panel-default-main">
    <div class="row">
        <div class="col-sm-10">
            <h2 class="sidebar-label">My Proforma Request</h2>
        </div>
        <div class="col-sm-2">
            <button ui-sref="main.public.consultantDashboard.productProformaCreate({consultantId:vm.consultant.id})"
                    class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i> Add Proforma Request
            </button>
        </div>
    </div>
    <div ng-if="!vm.productProformas.length" class="text-center">
        <h3>No Product Proforma found! </h3>
    </div>
    <div class="table table-responsive" ng-if="vm.productProformas.length">
        <table class="table table-striped ">
            <thead>
            <tr>
            <tr>
                <th>Proforma Request Preview</th>
                <th>Created Date</th>
                <th class="text-center">No. of items</th>
                <th class="text-center">Replies</th>
                <th class="text-center">Update Status</th>
            </tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="proforma in vm.productProformas track by $index">
                <td>
                    <a class="active_anchor"
                       ui-sref="main.public.consultantDashboard.productProformaRequestDetail({proformaRequestId : proforma.id})">ID{{proforma.proforma_request_id}}</a>
                </td>
                <td>{{proforma.date|date:'mediumDate'}}</td>
                <td class="text-center">{{proforma.noItems}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-default"
                            ui-sref="main.public.consultantDashboard.productProformaReplies({proformaRequestId:proforma.id})">
                        You Have {{proforma.noReplies}} replies
                    </button>
                </td>
                <td class="text-center">
                    <div class="dropdown">
                        <button style="padding: 4px 12px" class="btn btn-default dropdown-toggle" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="http://yegnacon.com/contractors/proforma/7/deactivate">Close proforma</a></li>
                            <li><a href="http://yegnacon.com/contractors/proforma/7/activate">Post Proforma</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
