<div class="panel panel-default panel-default-main">
    <form id="contact-form">
        <div class="row" id="printableArea">
            <div class="col-sm-6">
                <div class="col-md-3"><img src="{{vm.productProforma.logo}}" alt="Company Logo" width="80"
                                           height="80"></div>
                <div class="col-md-9">
                    <br>

                    <h2>
                        {{vm.productProforma.supplier.data.name}}
                    </h2>
                </div>
            </div>

            <div class="col-sm-6" style="padding-right: 20px">
                <div class="row">
                    <h1 class="sidebar-label"><span
                            class="pull-right">{{ vm.productProforma.proformaResponseItems.data[0].date | date:'mediumDate' }}</span>
                    </h1>
                </div>
                <div class="row">
                    <span class="detail-subtitle pull-right">Proforma Request id: {{vm.productProforma.proformaRequest.data.proforma_request_id}}</span><br>
                    <span class="detail-subtitle pull-right">Proforma invoice id: {{vm.productProforma.proformaRequest.data.proformaResponses.data[0].proforma_invoice_id}}</span>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <h2 class="detail-title list-title">Proforma Response From:</h2>

                            <h2 class="sidebar-label">{{vm.productProforma.supplier.data.name}}</h2>
                            <ul class="list-icons location list-unstyled">
                                <li>
                                    <i class="fa fa-map-marker"></i> <span>{{vm.productProforma.supplier.data.address.data.specific_address}}, {{vm.productProforma.supplier.data.address.data.city}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span>{{vm.productProforma.supplier.data.email}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>{{vm.productProforma.supplier.data.address.data.phone_number_1}}</span>
                                </li>
                            </ul>


                        </div>
                        <div class="col-lg-3 col-lg-offset-3 col-sm-12 ">
                            <h2 class="detail-title list-title">Request From:</h2>

                            <h2 class="sidebar-label">{{currentUser.name}}</h2>
                            <ul class="list-icons location list-unstyled">
                                <li>
                                    <i class="fa fa-map-marker"></i> <span>{{currentUser.address.data.specific_address}}, {{currentUser.address.data.city}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i> <span>{{currentUser.email}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>{{currentUser.address.data.phone_number_1}}</span>
                                </li>
                            </ul>


                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="table-responsive" style="padding-top:40px">
                            <h2 style="text-align: center">Material List</h2>
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Quantity (requested vs replied)</th>
                                    <th>Unit Price</th>
                                    <th>Total Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="proformaRequestItem  in vm.proformaResponseItems track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{proformaRequestItem.item_name}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-orange text-center" href=""
                                           ng-click="vm.toggleRequestDescription(proformaRequestItem.description,proformaRequestItem.responseDescription)">
                                            Read Description
                                        </a>
                                    </td>
                                    <td>can supply {{proformaRequestItem.quantity}} from
                                        {{proformaRequestItem.requested_quantity}} {{proformaRequestItem.unit}}
                                        requested
                                    </td>
                                    <td>{{proformaRequestItem.price|number:2}} ETB</td>
                                    <td>{{proformaRequestItem.sub_total|number:2}} ETB</td>
                                </tr>
                                <tr ng-show="vm.showDescription">
                                    <td colspan="5">
                                        <div class="accordion-box">
                                            <div class="accord-elem active">
                                                <div class="accord-title">
                                                    <a class="accord-link" href=""></a>

                                                    <h2>View Request Description</h2>
                                                </div>
                                                <div class="accord-content">
                                                    <p ng-bind-html="vm.currentRequestDescription"></p>
                                                </div>
                                            </div>

                                            <div class="accord-elem active">
                                                <div class="accord-title">
                                                    <a class="accord-link" href=""></a>

                                                    <h2>View Response Description </h2>
                                                </div>
                                                <div class="accord-content">
                                                    <p ng-bind-html="vm.currentResponseDescription"></p>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-8">
                                <div class="push-left">
                                    <p>The Above Prices are valid until:
                                        <strong>{{ vm.productProforma.validity_date|date:'mediumDate'}}</strong></p>

                                    <p ng-if="vm.productProforma.proformaResponseItems.data[0].delivery_type == 'From Stock'">
                                        The Above materials list are available at
                                        anytime </p>

                                    <p ng-if="vm.productProforma.proformaResponseItems.data[0].delivery_type != 'From Stock'">
                                        The Above materials list are available on
                                        {{vm.productProforma.proformaResponseItems.data[0].delivery_date|date:'mediumDate'}} </p>

                                    <p ng-if="vm.productProforma.file.data.file_name">
                                        Download File Attachment &nbsp;&nbsp;<a class="btn btn-orange"
                                                                                     href="{{vm.productProforma.file.data.file_name}}"
                                                                                     data-target="_blank"><i class="fa fa-download"></i> Download</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 pull-right">
                                <table class="table">
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td>{{vm.subTotal|number:2}} ETB</td>
                                    </tr>
                                    <tr>
                                        <td>VAT:</td>
                                        <td>{{(vm.subTotal*0.15)|number:2}} ETB</td>
                                    </tr>
                                    <tr>
                                        <td>Grand Total:</td>
                                        <td><Strong>{{(vm.subTotal*1.15)|number:2}} ETB</Strong></td>
                                    </tr>

                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <form class="contact-form">
                <div class="btn-group text-center" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-orange" ng-click="vm.printDiv('printableArea')">Print
                    </button>
                </div>
                <div class="btn-group text-center" role="group" aria-label="Basic example">
                    <button type="button" ui-sref="main.public.contractorDashboard.productProforma"
                            class="btn btn-orange">Back
                    </button>
                </div>
            </form>
        </div>

    </form>
</div>
