<div class="container" style="padding-top:150px">
    <section class="container">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide1.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--   <div class="inner-caption">
                                   <h1>We have Great Stuff</h1>

                                   <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                   </p>
                               </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide2.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--  <div class="inner-caption">
                                  <h1>Our menager is very friendly</h1>

                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            </p>
                        </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide3.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--  <div class="inner-caption">
                                  <h1>Our menager is very friendly</h1>

                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            </p>
                        </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide4.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--  <div class="inner-caption">
                                  <h1>Our menager is very friendly</h1>

                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            </p>
                        </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide5.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--  <div class="inner-caption">
                                  <h1>Our menager is very friendly</h1>

                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            </p>
                        </div>-->
                        </div>
                    </div>
                </li>
                <li>
                    <img alt="" src="assets/images/public/upload/slide/slide3.jpg"/>

                    <div class="flexcaption">
                        <div class="container">
                            <!--  <div class="inner-caption">
                                  <h1>Our menager is very friendly</h1>

                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            </p>
                        </div>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- about section
               ================================================== -->
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img alt="" src="assets/images/public/images/4.jpg"/>

                    <h2>Who we are</h2>

                    <p>Yegnacon, is a platform designed to bring professionals, contractors and construction material
                        suppliers in one place. The website has projects posted and contractors which are ready to start
                        work on your projects. Furthermore you can see portfolio of contractors,professionals and
                        product suppliers.</p>
                </div>
                <div class="col-md-6">

                    <!-- Nav tabs -->
                    <div class="tab-posts-box">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a data-target="#option1" data-toggle="tab">Business Directory</a>
                            </li>
                            <li>
                                <a data-target="#option2" data-toggle="tab">Vacancy & Tenders</a>
                            </li>
                            <li>
                                <a data-target="#option3" data-toggle="tab">Proforma Management</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="option1">
                                <img src="assets/images/public/images/business-directory.jpg" alt="">

                                <p>Yegnacon Offers an organized and well sorted business directory,you can find
                                    Contractors, consultants, suppliers and also professionals.</p>
                            </div>
                            <div class="tab-pane" id="option2">
                                <img src="assets/images/public/images/paint1.jpg" alt="">

                                <p>Latest Vacancies and Tenders are posted here at Yegnacon, unlike other vendors, at
                                    yegnacon subscribers are able to post too.</p>
                            </div>
                            <div class="tab-pane" id="option3">
                                <img src="assets/images/public/images/free-proforma-invoice-template.jpg" alt="">

                                <p>We are glad to tell you that, Yegnacon is the first and only web app in Ethiopia
                                    which offers proforma request and reply cycle.</p>

                            </div>
                        </div>

                        <div class="accordion-box">
                            <div class="accord-elem active">
                                <div class="accord-title">
                                    <a class="accord-link" data-target="accordion1" ></a>

                                    <h2>Are You a contractor or a consultant?</h2>
                                </div>
                                <div class="accord-content" id="#accordion1">
                                    <p>At Yegnacon, we offer latest email notfication based on your category choice
                                        either through your email or mobile app</p>

                                    <p>Not only you are able to get Tenders but you can also post a tender for the
                                        purchases or service you plan to recieve</p>

                                    <p>You can also use Yegnacon to compose your proforma request for any type of
                                        materials, Yegnacon has a lots of suppliers Registered, Therefore based on your
                                        Material category, you are able to recieve proforma replies. better yet,Yegnacon
                                        sorts the replies based on the price</p>
                                </div>
                            </div>

                            <div class="accord-elem">
                                <div class="accord-title">
                                    <a class="accord-link" data-target="accordion2"></a>

                                    <h2>Are you a supplier</h2>
                                </div>
                                <div class="accord-content" id="#accordion2">
                                    <p>Yegnacon Has made it easy for you to get proforma requests from diffrent
                                        organozations, All you have to do is fill in a simple form to reply for the
                                        requests </p>

                                    <p>you dont have to worry on missing proforma requests, Yegnacon will notifye of
                                        requests either you email or yegnacon mobile app</p>

                                    <p>At Yegnacon, we offer latest email notfication based on your category choice
                                        either through your email or mobile app </p>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
    </section>
    <!-- End about section -->
</div>