<!-- about section 
			================================================== -->
<section class="presentation-section" style="background-color: white; padding-top: 4px">
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About Us</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-depth">
                        <li><a href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="presentation-line">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Yegnacon.com</h2>

                    <p style="text-align: justify">Yegnacon, is a platform designed to bring professionals, contractors
                        and construction material
                        suppliers in one place. The website has projects posted and contractors which are ready to start
                        work on your
                        projects. Furthermore you can see portfolio of contractors,professionals and product
                        suppliers.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
            </div>
        </div>
    </div>


</section>