<!-- contact section
    ================================================== -->
<div class="container">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6" style="padding-left: 40px">
                <h2>Packages pricing</h2>
            </div>
            <div class="col-md-6" style="padding-right: 40px">
                <ul class="page-depth">
                    <li><a href="index.html">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact-section ">

        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-light">
                    <span>Standard Package</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Suppliers Package</h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Business Directory</td>
                        </tr>
                        <tr>
                            <td>Full Tender Access</td>
                        </tr>
                        <tr>
                            <td>CV Searching Access</td>
                        </tr>
                        <tr>
                            <td>Full Proforma Replaying Access</td>
                        </tr>
                        <tr>
                            <td>and more...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button ui-sref="main.public.registerPackage({type:'Standard Package'})" class="btn btn-block">
                    Sign
                    Up
                </button>

            </div>
        </div>
        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-light">
                    <span>Standard Package</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Contractor & Consultant </h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Business Directory</td>
                        </tr>
                        <tr>
                            <td>Full Tender Access</td>
                        </tr>
                        <tr>
                            <td>CV Searching Access</td>
                        </tr>
                        <tr>
                            <td>Full Proforma Requesting Access</td>
                        </tr>
                        <tr>
                            <td>Project in-sources and out Sourcing</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button ui-sref="main.public.registerPackage({type:'Corporate Package'})" class="btn btn-block">Sign Up
                </button>


            </div>
        </div>
        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-dark">
                    <span>Premium Package</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Contractor & Consultant </h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Standard Package +</td>
                        </tr>
                        <tr>
                            <td>Vacancy and Tender Posting Access</td>
                        </tr>
                        <tr>
                            <td>Company Profile Uploading and Updating</td>
                        </tr>
                        <tr>
                            <td>Logo Advertising on home page</td>
                        </tr>
                        <tr>
                            <td>
                                News Coverage Priority
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button ui-sref="main.public.registerPackage({type:'Premium Package'})" class="btn btn-block">Sign Up
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-light">
                    <span>Standard Package</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Other Services</h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Business Directory</td>
                        </tr>
                        <tr>
                            <td>Company Profile Uploading and Updating</td>
                        </tr>
                        <tr>
                            <td>Logo Advertising on home page</td>
                        </tr>
                        <tr>
                            <td>
                                News Coverage Priority
                            </td>
                        </tr>
                        <tr>
                            <td>and more...<br></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <button ui-sref="main.public.registerFree" class="btn btn-block">Sign Up
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-dark">
                    <span>FREE</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Professionals</h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Professionals Can Build their profile</td>
                        </tr>
                        <tr>
                            <td>Upload CV</td>
                        </tr>
                        <tr>
                            <td>Vacancy Notification</td>
                        </tr>
                        <tr>
                            <td>and more...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button ui-sref="main.public.registerFree" class="btn btn-block">Sign Up
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bootplus-card">
                <div class="card-caption text-center card-caption-dark">
                    <span>FREE</span>
                </div>
                <hr>
                <div class="card-title">
                    <h2 class="text-center">Project owners </h2>
                </div>

                <div class="card-body">
                    <table class="table table-striped text-center">
                        <tbody>
                        <tr>
                            <td>Uploading the Project</td>
                        </tr>
                        <tr>
                            <td>Requesting & receiving Quotation for the Project</td>
                        </tr>
                        <tr>
                            <td>and more...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button ui-sref="main.public.registerFree" class="btn btn-block">Sign Up
                </button>
            </div>
        </div>

    </section>
    <!-- End contact section -->
</div>