<div class="container">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>Quick Facts</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="news-section col3">
        <div class="container" style="background: white">
            <div class="news-box iso-call">

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:1})"><img
                            src="assets/images/facts/poster_burj_khalifa.jpg" alt=""></a>

                    <div class="hover-box">
                        <h2><a ui-sref="main.public.quickFactsDetail({factsId:1})">Top 10 Tallest Buildings</a></h2>
                        <span>Nov 26 2016 </span>
                    </div>
                </div>

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:2})"><img
                            src="assets/images/facts/largest_building.jpg" alt=""></a>

                    <div class="hover-box">
                        <h2><a ui-sref="main.public.quickFactsDetail({factsId:2})">The world's top 5 largest
                            buildings</a></h2>
                        <span>Nov 26 2016</span>
                    </div>
                </div>

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:3})"><img
                            src="assets/images/facts/expensive_building.jpg" alt=""></a>

                    <div class="hover-box">
                        <h2><a ui-sref="main.public.quickFactsDetail({factsId:3})">The 10 most expensive buildings in
                            the world</a></h2>
                        <span>Nov 26 2016 </span></span>
                    </div>
                </div>


            </div>
            <div class="news-box iso-call">

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:4})"><img src="assets/images/facts/stadiums.jpg"
                                                                                alt=""></a>

                    <div class="hover-box">
                        <h2><a ui-sref="main.public.quickFactsDetail({factsId:3})">Top 10 Stadiums</a></h2>
                        <span>Nov 26 2016</span>
                    </div>
                </div>

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:5})"><img
                            src="assets/images/facts/musium.jpg" alt=""></a>

                    <div class="hover-box">
                        <h2><a href="single-project.html">Top 10 museums</a></h2>
                        <span>Nov 26 2016</span>
                    </div>
                </div>

                <div class="news-post col-md-4">
                    <a ui-sref="main.public.quickFactsDetail({factsId:6})"><img
                            src="assets/images/facts/expensive_city.jpg" alt="">
                    </a>

                    <div class="hover-box">
                        <h2><a href="single-project.html">10 most expensive cities for construction</a></h2>
                        <span>Nov 26 2016</span>
                    </div>
                </div>
            </div>
            <!-- <div class="news-box iso-call">

                 <div class="news-post col-md-4">
                     <a ui-sref="main.public.quickFactsDetail({factsId:7})"><img
                             src="assets/images/facts/expensive_construction.jpg" alt="">
                     </a>

                     <div class="hover-box">
                         <h2><a href="single-project.html">Top 10 Most Expensive Construction Markets</a></h2>
                         <span>Nov 26 2016</span>
                     </div>
                 </div>

             </div>-->
        </div>
    </section>
</div>