<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="col-sm-6">
            <div class="col-md-3">
                <img src="assets/images/public/images/logo-goes-here.png" alt="Company Logo" width="80" height="80">
                <!--<img class="img-circle" src="{{vm.productProforma.userLogo}}" alt="Company Logo" width="80" height="80">-->
            </div>
            <div class="col-md-9">
                <h2>{{vm.proforma.user.data.name}}</h2>
            </div>
        </div>
        <div class="col-sm-6" style="padding-right: 20px">
            <div class="row">
                <h1 class="sidebar-label"><span
                        class="pull-right">{{ vm.proforma.date|date:'mediumDate' }}</span>
                </h1>
            </div>
            <div class="row">
                <span class="detail-subtitle pull-right">Proforma Request Id: ID{{vm.proforma.proforma_request_id}}</span>
            </div>
        </div>
        <div class="col-lg-12">
            <hr>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h2 class="detail-title list-title">Client: {{vm.proforma.user.data.name}}</h2>
                    <ul class="list-icons location list-unstyled">
                        <li>
                            <i class="fa fa-map-marker"></i> <span>{{vm.proforma.user.data.address.specific_address}}, {{vm.proforma.user.data.address.data.city}}</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> <span>{{vm.proforma.user.data.email}}</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>{{vm.proforma.user.data.address.data.phone_number_1}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <h2>Proposal Request For:{{ vm.proforma.proformaRequestProjectCost.data.title }}</h2>
                </div>
                <div class="col-md-4">
                    <a class=" pull-right btn btn-orange" type="button"
                            href="{{ vm.proforma.file.data.file_name }}" target="_blank"><i class="fa fa-file"></i>
                        Attachment
                    </a>
                </div>
                <hr>
            </div>
            <div class="row">
                <h3>Description</h3>
                <blockquote>
                    <div ng-bind-html="vm.bindHtml(vm.proforma.proformaRequestProjectCost.data.description)"></div>
                </blockquote>
            </div>
            <hr>
            <div ng-if="vm.userProforma">
                <h3>Replies</h3>

                <div ng-if="!vm.proforma.proformaResponses || (vm.proforma.proformaResponses.data && vm.proforma.proformaResponses.data.length == 0)">
                    <h3>There are no replies yet.</h3>
                </div>
                <div class="table-responsive"
                     ng-if="vm.proforma.proformaResponses.data && vm.proforma.proformaResponses.data.length">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Proforma Invoice Id</th>
                            <th>Responding Company</th>
                            <th>Response Title</th>
                            <th>Replied On</th>
                            <th class="center">File</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="response in vm.proforma.proformaResponses.data | itemsPerPage: vm.itemsPerPage"
                            total-items="vm.totalItems" current-page="vm.currentPage">
                            <td><a>{{ response.proforma_invoice_id}}</a></td>
                            <td ng-if="vm.proforma.user.data.profileType == 'Contractor'"><a
                                    ui-sref="main.public.contractorDetail({contractorId:response.company_id})">{{
                                response.company}}</a></td>
                            <td ng-if="vm.proforma.user.data.profileType == 'Consultant'"><a
                                    ui-sref="main.public.consultantDetail({contractorId:response.company_id})">{{
                                response.company}}</a></td>
                            <td>{{ response.proformaResponseProjectCost.data[0].title}}</td>
                            <td>{{ response.validity_date|date:'mediumDate'}}</td>
                            <td class="center">
                                <a class="btn btn-orange" href="{{ response.file_name }}" target="_blank"><i
                                        class="fa fa-download"></i> Download File
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination pagination-separated pagination-rounded text-center">
                        <dir-pagination-controls on-page-change="vm.getProformas()"></dir-pagination-controls>
                    </ul>
                </div>
            </div>
            <div class="row" ng-if="vm.replied">
                <h3>My Reply</h3>
                    <span><strong>Title: </strong>
                    </span>{{vm.myReply.proformaResponseProjectCost.data[0].title}}<br>
                <br>

                <div class="col-md-10" style="text-align: justify"
                     ng-bind-html="vm.myReply.proformaResponseProjectCost.data[0].description"></p>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div id="proformaReply" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Proforma Reply</h4>
            </div>
            <div class="modal-body">
                <form name="replyForm" novalidate>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="form-group col-md-6"
                                     ng-class="{ 'has-error': replyForm.title.$touched && replyForm.title.$invalid}">
                                    <label>Proposal Title</label>
                                    <input type="text"
                                           name="title" ng-model="vm.proformaReply.title" ng-required="true"
                                           placeholder="{{vm.proforma.proformaRequestProjectCost.data.title}}"
                                           class="form-control"/>

                                    <div class="form_error" ng-messages="replyForm.title.$error"
                                         ng-if="replyForm.title.$touched" role="alert">
                                        <p ng-message="minlength">Project name is too short.</p>

                                        <p ng-message="required">Project name is required.</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-6"
                                     ng-class="{'has-error':replyForm.file.$touched && replyForm.file.$invalid}">
                                    <label>Proposal File Attachment</label>

                                    <div class="input-group"
                                         ng-class="{'has-error':replyForm.file.$touched && replyForm.file.$invalid}">
                            <span class="input-group-btn">
                                <button class="btn main-color" type="button" required
                                        ngf-select ng-model="vm.file" name="file" id="file2"
                                        ngf-pattern="'.pdf, .doc,.docx, .xls, .xlsx'"
                                        ngf-accept="'.pdf, .doc,.docx, .xls, .xlsx'" ngf-max-size="20MB"
                                        ><i class="fa fa-paperclip"></i> Attach File
                                </button>
                            </span>
                                        <input type="text" class="form-control"
                                               placeholder="No Files Selected ... "
                                               ng-model="vm.file.name">
                                    </div>
                                    <div class="form_error" ng-messages="replyForm.file.$error"
                                         ng-if="replyForm.file.$touched || replyForm.$submitted" role="alert">
                                        <div ng-message="maxSize">The file must be less than 2MB</div>
                                        <div ng-message="minHeight">The file must be at least 100px high</div>
                                        <div ng-message="pattern">Invalid File Type</div>
                                        <div ng-message="required">You must upload a project Logo</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': replyForm.description.$touched && replyForm.description.$invalid}">
                                <label>Description</label>
                                <text-angular required ng-model="vm.proformaReply.description"
                                              name="description"></text-angular>
                                <div class="form_error" ng-messages="replyForm.description.$error"
                                     ng-if="replyForm.description.$touched" role="alert">
                                    <p ng-message="minlength">Description is too short.</p>

                                    <p ng-message="required">Description is required.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div>{{ vm.file.name }}</div>
            </div>
            <div class="modal-footer">
                <div class="row">

                    <div class="form-group pull-right">
                        <button class="btn btn-orange" ng-click="vm.submitReply(replyForm.$valid)"
                                data-dismiss="modal">Submit
                        </button>
                        <button type="button" class="btn btn-orange" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Modal 2-->
<div id="replyDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reply Detail</h4>
            </div>
            <div class="modal-body">
                    <span><strong>Title: </strong>
                    </span>{{vm.response.proformaResponseProjectCost.data[0].title}}<br>

                <p>{{vm.response.proformaResponseProjectCost.data[0].description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>