<div class="panel panel-default panel-default-main">
    <div class="row">
        <div class="col-sm-10">
            <h2 class="sidebar-label">My Projects</h2>
        </div>
        <div class="col-sm-2">
            <button ui-sref="main.public.consultantDashboard.projectCreate({consultantId:vm.consultantId})" class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i>  Add Your Project</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Project Title</th>
            <th>Project Category</th>
            <th>Elapsed Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="project in vm.projects | itemsPerPage: vm.itemsPerPage" total-items="vm.totalItems" current-page="vm.currentPage">
            <td>{{ project.order }}</td>
            <td><a ui-sref="main.public.projectDetail({projectId: project.id})">{{project.name}}</a></td>
            <td>{{project.category}}</td>
            <td>{{project.elapsed_time}}</td>
            <td>
                <ul class="list-inline list-unstyled" style="padding: 0; margin: 0;">
                    <li><button style="padding: 0 10px; margin: 0;" class="btn btn-default " ui-sref="main.public.consultantDashboard.projectEdit({projectId:project.id})"><i class="fa fa-pencil"></i></button></li>
                    <li><button style="padding: 0 10px; margin: 0;" class="btn btn-default alert-danger" ng-click="vm.deleteProject(project.id)"><i class="fa fa-trash-o"></i></button></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-separated pagination-rounded text-center">
        <dir-pagination-controls on-page-change="vm.getProjects()"></dir-pagination-controls>
    </ul>

</div>


</div>