
<!-- Segmented button -->
<div class="panel border-orange-700">
    <div class="panel-heading bg-orange-700">
        <h6 class="panel-title">Tenders</h6>
        <div class="heading-elements">
            <div class="btn-group heading-btn">

                <button class="btn btn-orange dropdown-toggle" data-toggle="dropdown"><i class="icon-menu"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a ui-sref="main.admin.tender.add"><i class="icon-add"></i>Add Tender</a></li>
                    <li><a ui-sref="main.admin.tender.list"><i class="icon-three-bars"></i>List Tender</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <ui-view></ui-view>
    </div>
</div>
<!-- /segmented button -->