<form class="form-vertical" ng-submit="vm.updateTender()">
    <fieldset class="content-group">
        <legend class="text-bold">Edit Tender</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tender Title</label>

                    <div>
                        <input class="form-control" type="text" ng-required="true" ng-model="vm.tender.title">
                    </div>
                </div>
                <div class="form-group">
                    <label>Category</label>

                    <select class="form-control" name="category" ng-model="vm.tender.category"
                            ng-options="category for category in vm.categories"></select>

                </div>
                <div class="form-group">
                    <label>Document Price</label>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">ETB.</span>
                        <input type="number" string-to-number class="form-control" placeholder="Salary In ETB."
                               aria-describedby="basic-addon1" ng-model="vm.tender.document_price">
                    </div>

                </div>
                <div class="form-group">
                    <label>Bid Bond</label>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Percent.</span>
                        <input type="text" class="form-control" placeholder="Bid Bond."
                               aria-describedby="basic-addon1" ng-model="vm.tender.bid_bond">
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label>Opening Date</label>
                    <input type="date" class="form-control" placeholder="Closing Date"
                           ng-model="vm.tender.opening_date">
                </div>
                <div class="form-group">
                    <label>Closing Date</label>
                    <input type="date" class="form-control" placeholder="Closing Date"
                           ng-model="vm.tender.closing_date">
                </div>
            </div>
            <!--<div class="col-md-8">-->
                <!--<div class="form-group">-->
                    <!--<label>Description</label>-->
                    <!--<div ckeditor="vm.editorOptions" ng-model="vm.tender.description"></div>-->

                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-md-12 form-group"
                     ng-class="{ 'has-error': tenderCreateForm.description.$touched && tenderCreateForm.description.$invalid}">
                    <label>Description</label>

                    <text-angular ng-model="vm.tender.description" name="description"></text-angular>
                    <!--<div ckeditor="vm.ckoptions" ready="ckOnReady"></div>-->
                </div>
                <!--<div ckeditor="vm.editorOptions" ng-model="vm.vacancy.description"></div>-->
            </div>

        </div>
    </fieldset>

    <div class="pull-right">
        <button type="submit" class="btn btn-orange">Submit <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</form>



