
<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To add your tender:</h2>

                        <p>1.Click <b>Dashboard</b> tab on the upper right hand side of list of tabs.<br>
                            2.Click <b>Tenders</b> on the left hand side of dashboard sidebar; a page with list of your tenders will be displayed.<br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addtenders1.PNG"/>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p><br> 3.Click <b>Add Tender</b> button which is found on <b>MY TENDERS</b> page.

                    </p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addtender2.PNG"/>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <p><br>4.Fill the information required and click<b>Post Tender</b> button which is found on the bottom right.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addtender3.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2><br>To view latest tenders:</h2>

                        <p>Click <b>LATEST TENDERS</b> page which is found on <b>Tenders</b>; a page with list of your tenders will be displayed.<br>

                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To add tender to your choice:</h2>

                        <p> 1.Select tender categories of your preferences from <b>Select Tender Categories</b> drop down button.<br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addtender4.PNG"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p> 2.Click <b>Add To Your Choice</b>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addtender5.PNG"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>