<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view consultants detail:</h2>

                        <p>1.On the <b>Directory</b> tab click on <b>Consultants</b>.<br>
                           2.A page with consultants list will appear.<br>
                           3.To view consultants list by grade, click on the drop down box of grades list then select the grade of your choice from the list that appears and click the <b>Submit</b> button.</br>
                           4.To view consultants list by type, click on the drop down box of types list then select the type of your choice from the list that appears and click the <b>Submit</b> button.</br>

                        </p>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <img alt="" class="center" src="assets/images/public/images/viewconsultants.PNG"/>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p>
                            5.From the list of consultants of your choice click on the name of consultant of your choice, the details will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/consultantsdetail.PNG"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>