<div class="container">
    <section class="page-banner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Documentation</h2>
                </div>
                <div class="col-md-6">
                    <ul class="page-depth">
                        <li><a href="index.html">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="services-page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="accordion-box">
                        <div class="accord-elem active">
                            <div class="accord-title">
                                <a class="accord-link" data-target="#"></a>

                                <h2>Public</h2>
                            </div>
                            <div class="accord-content">
                                <div class="side-navigation">
                                    <ul class="side-navigation-list">
                                        <li><a ui-sref="main.public.documentation.welcome">welcome</a></li>
                                        <li><a ui-sref="main.public.documentation.register">How to register</a></li>
                                        <li><a ui-sref="main.public.documentation.login">How to Login</a></li>
                                        <li><a ui-sref="main.public.documentation.consultantsDetail">How to view consultants detail</a></li>
                                        <li><a ui-sref="main.public.documentation.contractorsDetail">How to view contractors detail</a></li>
                                        <li><a ui-sref="main.public.documentation.suppliersDetail">How to view suppliers detail</a></li>
                                        <li><a ui-sref="main.public.documentation.productsDetail">How to view products detail</a></li>
                                        <li><a ui-sref="main.public.documentation.projectsDetail">How to view projects detail</a></li>
                                        <li><a ui-sref="main.public.documentation.vacanciesDetail">How to view vacancies detail</a></li>
                                        <li><a ui-sref="main.public.documentation.professionalsDetail">How to view professionals detail</a></li>
                                        <li><a ui-sref="main.public.documentation.tendersDetail">How to view tenders detail</a></li>
                                        <!--<li><a ui-sref="main.public.documentaion.contact">contact page</a></li>-->

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accord-elem active">
                        <div class="accord-title">
                            <a class="accord-link" data-target="#"></a>

                            <h2>Dashboard</h2>
                        </div>
                        <div class="accord-content">
                            <div class="side-navigation">
                                <ul class="side-navigation-list">
                                    <li><a ui-sref="main.public.documentation.editProfile">How to edit your profile</a></li>
                                    <li><a ui-sref="main.public.documentation.addProduct">How to add your product</a></li>
                                    <li><a ui-sref="main.public.documentation.addProject">How to add your project</a></li>
                                    <li><a ui-sref="main.public.documentation.addTender">How to add your tender</a></li>
                                    <li><a ui-sref="main.public.documentation.addVacancy">How to add your vacancy</a></li>
                                    <li><a ui-sref="main.public.documentation.latestTender">How to view latest tenders</a></li>
                                    <li><a ui-sref="main.public.documentation.outsourceProject">How to outsource your project</a></li>
                                    <li><a ui-sref="main.public.documentation.yourOutsourcedProject">How to view projects you outsourced</a></li>
                                    <li><a ui-sref="main.public.documentation.otherOutsourcedProject">How to view projects outsourced by other companies</a></li>
                                    <li><a ui-sref="main.public.documentation.addProductProforma">How to add your product proforma</a></li>
                                    <li><a ui-sref="main.public.documentation.addProjectProforma">How to add your project proforma</a></li>
                                    <li><a ui-sref="main.public.documentation.viewProductProforma">How to view product proforma request</a></li>
                                    <li><a ui-sref="main.public.documentation.resetAccount">How to reset account password</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-9">
                  <ui-view>

                  </ui-view>
                </div>

            </div>
        </div>
    </section>
</div>