<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/4.jpg"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Who we are</h2>

                        <p>Yegnacon, is a platform designed to bring professionals, contractors and construction material
                            suppliers in one place. The website has projects posted and contractors which are ready to start
                            work on your projects. Furthermore you can see portfolio of contractors,professionals and
                            product suppliers.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>