
<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To Login:</h2>

                        <p>1.Click on the <b>Login</b> tab on the upper right hand side.<br>
                           2.Enter your email address and password on the fields provided.<br>
                           3.Click <b>Login</b> button.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/login.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
