<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To see projects outsourced by other companies:</h2>

                        <p>1.Click <b>Dashboard</b> tab on the upper right hand side of list of tabs.<br>
                            2.Click <b>Project Proforma</b> on the left hand side of dashboard sidebar; a page with list of projects you outsourced will be displayed.<br>
                            3.Click <b>Project Outsourced From Companies</b> button and fill in the required information.<br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/otheroutsourcedProject.png"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>