
<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To add your product proforma:</h2>

                        <p>1.Click <b>Dashboard</b> tab on the upper right hand side of list of tabs.<br>
                            2.Click <b>Product Proforma</b> on the left hand side of dashboard sidebar.<br>

                        </p>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <img alt="" class="center" src="assets/images/public/images/addproforma1.PNG"/>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p><br> 3.Click <b>Add Proforma Request</b> button.</br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addproforma.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p><br> 4.Fill the information required and click<b> Submit Proforma</b> button which is found on the bottom right.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/addproforma2.PNG"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>