<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view products detail:</h2>

                        <p>1.On the <b>Construction</b> tab click on <b>Products</b>.<br>
                            2.A page with projects list will appear.<br>
                            3.To view products list by categories, click on the drop down box of companies list then select the companies of your choice from the list that appears and click the <b>search</b> button.</br>
                            4.To search product fill in the name of product on search products field.</br>
                            5.From the list of products of your choice on the name of product of your choice, the details will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/viewproducts.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p><br>5.From the list of products of your choice click on the name of product of your choice, the details will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/productsdetail1.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>