<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view professionals detail:</h2>

                        <p>1.On the <b>jobs</b> tab click on <b>Suppliers</b>.<br>
                            2.A page with professionals list will appear.<br>
                            3.To view professionals list by fields, click on the drop down box of categories list then select the field of your choice from the list that appears and click the <b>Submit</b> button.</br>
                            4.To view professionals list by experiences, click on the drop down box of companies list then select the type of your choice from the list that appears and click the <b>Submit</b> button.</br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/viewprofessionals.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p><br>5.From the list of professionals of your choice click on the name of professional of your choice, the details will be displayed.<br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/professionalsdetail.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>