<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view projects detail:</h2>

                        <p>1.On the <b>Construction</b> tab click on <b>Projects</b>.<br>
                            2.A page with projects list will appear.<br>
                            3.To view projects list by categories, click on the drop down box of companies list then select the companies of your choice from the list that appears and click the <b>search</b> button.</br>
                            4.To view projects list by companies, click on the drop down box of categories list then select the categories of your choice from the list that appears and click the <b>search</b> button.</br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/viewprojects1.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p><br>5.From the list of projects of your choice click on the name of project of your choice, the details will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/projectsdetail1.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>