
<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To get registered:</h2>

                        <p>1.Click <b>register</b> tab on the upper right hand side.<br>
                           2.Click the <b>sign up</b> button at the bottom of the package of your preference.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/package.PNG"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <p> 3.Fill in your company's information in the registration form and click <b>regster</b> button.<br>
                            4.On the page that is displayed, click on the link <b>Subscription! you must subscribe to continue using this site</b>.<br>
                            Administrator will activate your subscription.<br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/subscription.PNG"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                             5.You will be able to use the system once your subscription is activated.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
