<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view suppliers detail:</h2>

                        <p>1.On the <b>Directories</b> tab click on <b>Suppliers</b>.<br>
                            2.A page with suppliers list will appear.<br>
                            3.To view suppliers list by locations, click on the drop down box of locations list then select the field of your choice from the list that appears and click the <b>Submit</b> button.</br>
                            4.To view suppliers list by category, click on the drop down box of category list then select the type of your choice from the list that appears and click the <b>Submit</b> button.</br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/viewsuppliers1.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p><br>5.From the list of suppliers of your choice click on the name of supplier of your choice, the details will be displayed.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/suppliersdetail1.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>