<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view tenders detail:</h2>

                        <p>1.click <b>Tenders</b> tab.<br>
                            2.A page with tenders list will appear.<br>
                            3.To view tenders list by locations, click on the drop down box of locations list then select the field of your choice from the list that appears and click the <b>Search</b> button.</br>
                            4.To view tenders list category, click on the drop down box of category list then select the type of your choice from the list that appears and click the <b>Search</b> button.</br>
                        </p>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <img alt="" class="center" src="assets/images/public/images/viewtenders.png"/>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <p></br>
                            5.From the list of tenders of your choice on the name of tender of your choice, the details will be displayed.<br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/tendersdetail.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p></br>
                          6.To print out tender, click <b>print</b> button.<br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/printtender.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>