<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>To view vacancies detail:</h2>

                        <p>1.On the <b>Jobs</b> tab click on <b>Vacancies</b>.<br>
                            2.A page with vacancies list will appear.<br>
                            3.To view vacancies list by fields, click on the drop down box of fields list then select the field of your choice from the list that appears and click the <b>Search</b> button.</br>
                            4.To view vacancies list by locations, click on the drop down box of locations list then select the type of your choice from the list that appears and click the <b>Search</b> button.</br>

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/viewvacancies1.PNG"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">


                        <p><br>5.From the list of vacancies of your choice click on the name of vacancy of your choice, the details will be displayed.<br>
                               6.Click <b>print</b> button to print out vacancy.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/vacanciesdetail1.PNG"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>