<div class="panel panel-default panel-default-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img alt="" class="center" src="assets/images/public/images/4.jpg"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Welcome</h2>
                        <p>To use public features, use <b>Public</b>.<br>
                        <p>To use the following features, use <b>Dashboard</b>.<br>
                            1.To build and edit your profile.<br>
                            2.To post your product.<br>
                            2.To  post your projects.<br>
                            3.To post and access tender<br>
                            3.To request and reply  proforma.<br>
                            4.To outsource and in source projects.<br>
                            5.To post and access vacancy.<br>
                            6.To view and reply proforma request.<br>

                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>