<div class="panel panel-default panel-default-main">
    <form id="contact-form">
        <div class="row">
            <div class="col-sm-6">
                <!--<img ng-src="{{vm.productProforma.file.data.file_name}}"   alt="Company Logo" width="80" height="80">-->
                <img class="img-circle" src="{{vm.productProforma.userLogo}}" alt="Company Logo" width="80" height="80">
            </div>
            <div class="col-sm-6" style="padding-right: 20px">
                <div class="row">
                    <h1 class="sidebar-label"><span
                            class="pull-right">{{vm.productProforma.date | date:'mediumDate' }}</span>
                    </h1>
                </div>
                <div class="row">
                    <span class="detail-subtitle pull-right">Proforma Request Id: ID{{vm.productProforma.proforma_request_id}}</span>
                </div>
            </div>
            <div class="col-lg-12">
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <h2 class="detail-title list-title">Client</h2>

                        <h2 class="sidebar-label">{{vm.productProforma.user.data.name}}</h2>
                        <ul class="list-icons location list-unstyled">
                            <li>
                                <i class="fa fa-map-marker"></i> <span>{{vm.productProforma.user.data.address.data.specific_address}}, {{vm.productProforma.user.data.address.data.city}}</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i> <span>{{vm.productProforma.user.data.email}}</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> <span>{{vm.productProforma.user.data.address.data.phone_number_1}}</span>
                            </li>
                        </ul>


                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive" style="padding-top:40px">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th >File</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="proformaRequestItem  in vm.productProforma.proformaRequestItems.data track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{proformaRequestItem.item_name}}</td>
                                    <td class="center"><a class="btn btn-sm btn-orange text-center" href=""
                                       ng-click="vm.toggleRequestDescription(proformaRequestItem.description)">
                                        Read Description ...
                                    </a></td>
                                    <td>{{proformaRequestItem.quantity}}
                                        {{proformaRequestItem.unit}}
                                    </td>
                                    <td><a ng-if="vm.productProforma.file" class="btn btn-orange" href="{{vm.productProforma.file.data.file_name}}" data-target="_blank"><i class="fa fa-download">  File Attached</i></a></td>
                                </tr>
                                <tr ng-show="vm.showDescription">
                                    <td colspan="5">
                                        <div class="accordion-box">
                                            <div class="accord-elem active">
                                                <div class="accord-title">
                                                    <a class="accord-link" href=""></a>
                                                    <h2>View Request Description</h2>
                                                </div>
                                                <div class="accord-content">
                                                    <p ng-bind-html="vm.currentDescription"></p>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div ng-if="vm.replies" class="col-sm-offset-8">
                            <table class="table">
                                <tr>
                                    <td>Sub Total:</td>
                                    <td>{{vm.subTotal|number:2}} ETB</td>
                                </tr>
                                <tr>
                                    <td>VAT:</td>
                                    <td>{{(vm.subTotal*0.15)|number:2}} ETB</td>
                                </tr>
                                <tr>
                                    <td>Grand Total:</td>
                                    <td><Strong>{{(vm.subTotal*1.15)|number:2}} ETB</Strong></td>
                                </tr>

                            </table>
                        </div>
                        <div class="form-group text-center">
                            <form class="contact-form">
                                <div class="btn-group text-center" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-orange">Print</button>
                                </div>
                                <div class="btn-group text-center" role="group" aria-label="Basic example">
                                    <button type="button" ui-sref="main.public.contractorDashboard.productProforma"
                                            class="btn btn-orange">Back
                                    </button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
