<div class="container" id="go_to_top">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>{{currentUser.subscriptions.data.package.data.package}} Consultants Dashboard</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="services-page-section news-section" style="padding-top: 5px">
        <div class="row">
            <div class="col-lg-3">
                <div class="side-navigation">
                    <ul class="side-navigation-list">
                        <!--  <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.profile'}"
                                 ui-sref="main.public.consultantDashboard.profile({consultantId:vm.consultantId})">Company
                              Profile</a></li>
                          <li>-->
                        <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.profile'}"
                               ui-sref="main.public.consultantDetail({consultantId:vm.consultantId})">Company
                            Profile</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.myProjects'}"
                           ui-sref="main.public.consultantDashboard.project({consultantId:vm.consultantId})">My
                            Projects</a></li>

                        <li>
                            <a ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'"
                               ng-class="{ 'active' : currentParentState=='consultantDashboard.projectProforma'}"
                               ui-sref="main.public.consultantDashboard.projectProforma({consultantId:vm.consultantId})">Project
                                Proforma</a></li>
                        <li>
                            <a ng-class="{ 'active' : currentParentState=='consultantDashboard.productProforma'}"
                               ui-sref="main.public.consultantDashboard.productProforma({consultantId:vm.consultantId})">Product
                                Proforma</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.group'}"
                               ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'" ui-sref="main.public.consultantDashboard.groupList">My Proforma Groups</a></li>
                        <li><a ng-class="{ 'active' : currentParentState=='consultantDashboard.tender'}"
                               ui-sref="main.public.consultantDashboard.tender">Tenders</a></li>
                        <li><a ng-if="vm.subscription == 'Corporate' || vm.subscription == 'Premium'"
                               ng-class="{ 'active' : currentParentState=='consultantDashboard.vacancy'}"
                               ui-sref="main.public.consultantDashboard.vacancy">Vacancies</a></li>
                        <li><a ui-sref="main.public.resetPassword">Account Setting</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <ui-view>

                </ui-view>

            </div>
        </div>
    </section>
</div>
