<div class="panel panel-default panel-default-main">
    <div class="row">
        <div class="col-sm-10">
            <h2 class="sidebar-label">My Proforma Request</h2>
        </div>
        <div class="col-sm-2">
            <button ui-sref="main.public.consultantDashboard.projectCreate({consultantId:1})" class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i></button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>No.</th>
            <th>Proforma Name</th>
            <th>Created Date</th>
            <th>No. of items</th>
            <th>Status</th>
            <th>Detail</th>
            <th>Replies</th>
            <th>Update Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Proforma id:1007</td>
            <td>July 19, 2016</td>
            <td>1</td>
            <td>Open</td>
            <td><a href="#">Preview</a></td>
            <td><a href="#">Replies</a></td>
            <td>

                <div class="dropdown">
                    <button style="padding: 4px 12px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="http://yegnacon.com/contractors/proforma/7/deactivate">Close proforma</a></li>
                        <li><a href="http://yegnacon.com/contractors/proforma/7/activate">Post Proforma</a></li>

                    </ul>
                </div>

            </td>

        </tr>
        <tr>
            <td>1</td>
            <td>Proforma id:1007</td>
            <td>July 19, 2016</td>
            <td>1</td>
            <td>Open</td>
            <td><a href="#">Preview</a></td>
            <td><a href="#">Replies</a></td>
            <td>

                <div class="dropdown">
                    <button style="padding: 4px 12px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="http://yegnacon.com/contractors/proforma/7/deactivate">Close proforma</a></li>
                        <li><a href="http://yegnacon.com/contractors/proforma/7/activate">Post Proforma</a></li>

                    </ul>
                </div>

            </td>

        </tr>
        </tbody>
    </table>
</div>


</div>