<section class="contact-section padding-top">
    <div class="container-fluid">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="row bootplus-card">
                <div class="alert alert-danger fade in" ng-class="{ 'display-hidden': vm.registrationError == ''}">
                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Registration Error!</strong> {{ vm.registrationError }}
                </div>
                <form id="contact-form" class="register-form" role="form" name="registrationForm" novalidate>
                    <div class="row zero-margin-padding">
                        <div class="col-md-6"><h1 class="zero-margin-padding">Register</h1></div>
                        <div class="col-md-6 text-right"><div class=" well display-inline ">{{ vm.package_type }}</div></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error':  registrationForm.company.$invalid && (registrationForm.company.$touched || registrationForm.$submitted)}">
                                <label for="company_name">Company</label>
                                <input required name="company" id="company_name" class="form-control" type="text" placeholder="Company Name" ng-model="vm.name">
                                <div class="form_error" ng-messages="registrationForm.company.$error" ng-if="registrationForm.company.$touched || registrationForm.$submitted" role="alert" >
                                    <p ng-message="required">Company Name cannot be empty!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': registrationForm.company.$invalid && (registrationForm.profile_type.$touched || registrationForm.$submitted) }">
                                <label>Company Type</label>
                                <select required name="profile_type" class="form-control" ng-model="vm.profile_type">
                                    <option value="" selected disabled>Select a Company Type</option>
                                    <option value="Consultant">Consultant</option>
                                    <option value="Contractor">Contractor</option>
                                    <option value="Supplier">Supplier</option>
                                </select>
                                <div class="form_error" ng-messages="registrationForm.profile_type.$error" ng-if="registrationForm.profile_type.$touched || registrationForm.$submitted" role="alert" >
                                    <p ng-message="required">Please select a company type!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': (registrationForm.email.$touched || registrationForm.$submitted) && registrationForm.email.$invalid }">
                                <label>Email Address</label>
                                <input required name="email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control" placeholder="Email" ng-model="vm.email"/>
                                <div class="form_error" ng-messages="registrationForm.email.$error" ng-if="registrationForm.email.$touched || registrationForm.$submitted" role="alert" >
                                    <p ng-message="required">Email Address cannot be empty!</p>
                                    <p ng-message="pattern">Please enter a valid email address!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': (registrationForm.password.$touched || registrationForm.$submitted) && registrationForm.password.$invalid }">
                                <label>Password</label>
                                <input required type="password" id="password" name="password" class="form-control" placeholder="" ng-model="vm.password">
                                <div class="form_error" ng-messages="registrationForm.password.$error" ng-if="registrationForm.password.$touched || registrationForm.$submitted" ng-minlength="6" role="alert" >
                                    <p ng-message="required">Password cannot be empty!</p>
                                    <p ng-message="ngMinlength">Password must be at least 6 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': (registrationForm.confirm_password.$touched || registrationForm.$submitted) && registrationForm.confirm_password.$invalid }">
                                <label>Confirm Password</label>
                                <input required type="password" id="confirm_password" pw-check="password" name="confirm_password" class="form-control" placeholder="" ng-model="vm.confirm_password">
                                <div class="form_error" ng-messages="registrationForm.confirm_password.$error" ng-if="registrationForm.confirm_password.$touched || registrationForm.$submitted" role="alert" >
                                    <p ng-message="required">Please re-enter your password!</p>
                                    <p ng-message="pwmatch">Passwords do not match</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input required type="checkbox" ng-model="vm.terms_and_reference" name="terms">
                                <label><a class="active" href="">Terms and references</a></label>
                                <div class="form_error" ng-messages="registrationForm.terms.$error" ng-if="registrationForm.terms.$touched || registrationForm.$submitted" role="alert" >
                                    <p ng-message="required">You must agree to the terms and conditions!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" ng-disabled = "registerButton" class="btn main-color pull-right" value="Register" ng-click="vm.register(registrationForm.$valid)" />
                </form>
            </div>

        </div>
    </div>
</section>