<!-- Segmented button -->
<div class="panel border-orange-800">
    <div class="panel-heading bg-orange-800">
        <h6 class="panel-title">Users</h6>

        <div class="heading-elements">
        </div>
    </div>

    <div class="panel-body">
        <ui-view></ui-view>
    </div>
</div>
<!-- /segmented button -->