<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/admin/logo.png" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">


        <ul class="nav navbar-nav navbar-right">


            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/admin/avatar.png" alt="">
                    <span>{{currentUser.name}}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href=""><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="" ui-sref="main.admin.passwordReset"><i class="icon-cog5"></i> Reset Password</a></li>
                    <li><a data-target="" ng-click="vm.signOut()"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-home position-left"></i> <span class="text-semibold">Yegnacon Admin Dashboard</span></h4>
        </div>
<br>

    </div>
</div>
<!-- /page header -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-inverse">
            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-title h6">
                        <span>Main navigation</span>
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>


                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li><a class="active" ui-sref="main.admin.home"><i class="icon-home4"></i> <span>Home</span></a>
                            </li>
                            <li><a ui-sref="main.admin.user.list"><i class="icon-users"></i> <span>Users</span></a></li>
                            <li>
                                <a ui-sref="main.admin.news.list"><i class="icon-newspaper2"></i> <span>News</span></a>
                            </li>
                            <li>
                                <a ui-sref="main.admin.vacancy.list"><i class="icon-newspaper"></i> <span>Vacancy</span></a>
                            </li>
                            <li>
                                <a ui-sref="main.admin.tender.list"><i class="icon-newspaper"></i>
                                    <span>Tenders</span></a>
                            </li>
                            <li><a ui-sref="main.admin.proforma"><i class="icon-home4"></i> <span>Proforma</span></a>
                            </li>
                            <li><a ui-sref="main.admin.proforma"><i class="icon-home4"></i>
                                <span>Notifications</span></a></li>


                            <!-- /page kits -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <ui-view></ui-view>

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2016. <a href="#">Yegnacon</a> by <a href="http://yokida.com" target="_blank">Yokida Consult.</a>
    </div>
    <!-- /footer -->

</div>
<!-- /page container -->








