<div class="panel panel-default panel-default-main">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="tab-posts-box">
                    <div class="row">
                        <div class="col-sm-10">
                            <ul class=" text-center nav nav-tabs" id="myTab">
                                <li class="active"ng-class="{ 'active' : currentUser.subscriptions.data.package.data.package=='Standard'}">
                                    <a data-target="#opt2" data-toggle="tab">Latest Tenders</a>
                                </li>
                                <li  ng-show="currentUser.subscriptions.data.package.data.package=='Premium' ||
                                currentUser.subscriptions.data.package.data.package=='Corporate'">
                                    <a class="tender" data-target="#opt1" data-toggle="tab">My Tenders</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="opt2">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2 class="sidebar-label"></h2>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label style="padding-top: 10px;">Select Tender Categories:</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <multiselect required ng-model="vm.category" data-compare-by="id"
                                                         options="c.category for c in vm.filteredTenders"
                                                         data-multiple="true"></multiselect>
                                        </div>
                                        <div style="font-size: large;" scrollable-menu class="display-inline scrollable-menu "
                                             ng-repeat="filteredTender in vm.filteredTender">
                                        </div>
                                        <div class="col-sm-4 pull-right ">
                                            <div class="form-group">
                                                <div class="row">
                                                    <button class="btn btn-orange btn-sm"
                                                            ng-click="vm.addTendersChoice()">Add
                                                        To Your Choice
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th width="5%">Number</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Opening Date</th>
                                    <th>Closing Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="tender in vm.latestTenders | itemsPerPage: vm.itemsPerPageLatest"
                                    total-items="vm.totalItemsLatest" current-page="vm.currentPageLatest">
                                    <td>{{ tender.order }}</td>
                                    <td><a class="active_anchor"
                                           ui-sref="main.public.tenderDetail({tenderId:tender.id})"> {{
                                        tender.title|limitTo:10}}</a></td>
                                    <td>{{ tender.category }}</td>
                                    <td>{{ tender.opening_date|date:'mediumDate'}}</td>
                                    <td>{{ tender.closing_date|date:'mediumDate'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <ul class="pagination pagination-separated pagination-rounded">
                                <dir-pagination-controls
                                        on-page-change="vm.getLatestTenders()"></dir-pagination-controls>
                            </ul>
                        </div>
                        <div class="tab-pane " id="opt1">
                            <div ng-if="vm.subscription.package == 'Standard'"><h2 class="text-center">Sorry, You have No access for this Section, upgrade your subscription Package</h2></div>
                            <div ng-if="vm.subscription.package == 'Corporate' || vm.subscription.package == 'Premium'">
                                <div class="row">
                                    <div class="col-sm-10">

                                    </div>
                                    <div class="col-sm-2">
                                        <button ui-sref="main.public.supplierDashboard.tenderCreate"
                                                class="btn btn-default btn-action pull-right"><i class="fa fa-plus"></i>  Add Tender
                                        </button>
                                    </div>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="5%">Number</th>
                                        <th>Title</th>
                                        <th>Closing Date</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="tender in vm.tenders | itemsPerPage: vm.itemsPerPage"
                                        total-items="vm.totalItems"
                                        current-page="vm.currentPage">
                                        <td>{{ tender.order }}</td>
                                        <td><a class="active_anchor"
                                               ui-sref="main.public.tenderDetail({tenderId:tender.id})"> {{ tender.title
                                            }}</a></td>
                                        <td>{{ tender.closing_date|date:"mediumDate"}}</td>
                                        <td ng-if="tender.status == 'active'"><span class="label label-success">{{ tender.status }}</span>
                                        </td>
                                        <td ng-if="tender.status != 'active'"><span class="label label-warning">{{ tender.status }}</span>
                                        </td>
                                        <td>
                                            <ul class="list-inline list-unstyled">
                                                <li>
                                                    <button style="padding: 0 10px; margin: 0;" class="btn btn-default "
                                                            ui-sref="main.public.supplierDashboard.tenderCreate({tenderId:tender.id, edit:true})" >
                                                        <i class="fa fa-pencil"></i></button>
                                                </li>
                                                <li>
                                                    <button style="padding: 0 10px; margin: 0;" class="btn btn-default"
                                                            ng-click="vm.deleteTender(tender.id)"><i
                                                            class="fa fa-trash-o"></i></button>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination pagination-separated pagination-rounded text-center">
                                    <dir-pagination-controls on-page-change="vm.getTenders()"></dir-pagination-controls>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
