<div class="container">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>Professionals</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="" ui-sref="main.public.contractor">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- news-section
<!-- news-section
        ================================================== -->
    <section class="news-section">
        <div class="row">
            <div class="col-md-2 hidden-sm">
                <div class="side-navigation">
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 panel panel-default panel-default-main">
                <div class="row card">
                    <form>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" type="text" name="search_keywords" ng-model="vm.search" ng-change="vm.getProfessionals()"
                                       placeholder="Search professionals..."/>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.field">
                                    <option value="">All Fields</option>
                                    <option ng-repeat="title in vm.coreService.professionalTitle"
                                            value={{title}} label={{title}}></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <select class="form-control" ng-model="vm.experience">
                                    <option value="">All Experience</option>
                                    <option ng-repeat="experience in vm.coreService.professionalsExperience"
                                            value={{experience}} label={{experience}}></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group text-center">
                                <button class="form-control btn-orange" ng-click="vm.getProfessionals()" type="button"><i class="fa fa-search"></i>&nbsp;&nbsp;Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="team-list row ">
                    <li dir-paginate="professional in vm.professionals | itemsPerPage: vm.itemsPerPage"
                        total-items="vm.totalItems" current-page="vm.currentPage" class="team-item col-md-4 ">
                        <a ui-sref="main.public.professionalDetail({professionalId:professional.id})">
                            <div class=" team-item ">
                                <div align="center" class="team-item-inner">
                                    <img class="logo image-round-border"
                                         src="{{ professional.image }}" alt="" width="90"
                                         height="90">
                                    <br>

                                    <h2 class="list-title"><a
                                            href="" ng-click="vm.showDetail(professional.id, 'professional')">{{professional.name|limitTo:10}}</a>
                                    </h2>

                                    <span style="font-size: 12px;">{{ professional.professional.data.professional_title }}</span>

                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="pagination pagination-separated pagination-rounded text-center">
                    <dir-pagination-controls on-page-change=" vm.getProfessionals()"></dir-pagination-controls>
                </ul>
            </div>
            <div class="col-md-2 hidden-sm">
                <div class="side-navigation">
                    <div style="margin-bottom:15px;">
                        <div ng-if="!currentUser" class="row">
                            <form class="panel panel-default" role="form" name="loginForm" novalidate>
                                <h2 class="panel-heading">Login</h2>
                                <small class="display-block  alert-danger">{{loginError}}</small>
                                <img class="col-md-offset-4" ng-show="authenticating" height="80px"
                                     src="assets/images/loading.png"/>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': (loginForm.company.$touched || loginForm.$submitted) && loginForm.company.$invalid || loginError != ''}">
                                                <label>Email</label>
                                                <input required name="company" class="form-control" type="email"
                                                       placeholder="Enter your email here"
                                                       ng-model="email">

                                                <div class="form_error" ng-messages="loginForm.company.$error"
                                                     ng-if="loginForm.company.$touched || loginForm.$submitted || loginError != ''"
                                                     role="alert">
                                                    <p ng-message="required">Name cannot be empty!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': (loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$invalid || loginError != ''}">
                                                <label>Password</label>
                                                <input required name="password" class="form-control" type="password"
                                                       placeholder=""
                                                       ng-model="password">

                                                <div class="form_error" ng-messages="loginForm.password.$error"
                                                     ng-if="loginForm.password.$touched || loginForm.$submitted || loginError != ''"
                                                     role="alert">
                                                    <p ng-message="required">Password cannot be empty!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="col-md-12 btn btn-default pull-right" value="Login"
                                           ng-click="singIn(loginForm.$valid, email, password)"/>

                                    <p style="margin-top: 10px">If You don't have an Account,</p>

                                    <a ui-sref="main.public.pricing"><i class="fa fa-user"></i>&nbsp;&nbsp;Sign Up</a>

                                </div>
                            </form>
                        </div>
                        <figure ng-if="currentUser" class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                    <hr>
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End news section -->
</div>