<div class="container">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>Professional Detail</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="" ui-sref="main.public.contractor">Home</a></li>
                    <li><a href="" ui-sref="main.public.contractor">Professional</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- news-section
<!-- news-section
        ================================================== -->
    <section class="news-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 panel panel-default panel-default-main">
                    <div class="row">
                        <div class="col-lg-2">
                            <img class="logo image-round-border"
                                 src="assets/images/public/upload/others/img_professional.png" alt="" width="90"
                                 height="90">
                        </div>
                        <div class="col-lg-10">
                            <h2 class="list-title">{{vm.professional.name}}</h2>

                            <ul class="list-icons location list-unstyled">
                                <li>
                                    <span>{{vm.professional.profile.data.professional_title}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i> <span>{{vm.professional.address.data.city}}, {{vm.professional.address.data.city}}</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i> <span><a href="mailto:abe@teka.com">{{vm.professional.email}}</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i> <span><a href="mailto:abe@teka.com">{{vm.professional.address.data.phone_number_1}}</a></span>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <hr>
                    <h2 class="sidebar-label">Experience</h2>

                    <div class="row">
                        <dl class="dl-horizontal">
                            <div ng-repeat="experience in vm.professional.profile.data.experiences.data"
                                 class="dl-info">
                                <dt>{{experience.started_date | date:'MMM yyyy'}} - {{experience.ended_date | date:'MMM
                                    yyyy'}}
                                </dt>
                                <dd>
                                    <div class="list-icons location">
                                        {{experience.position}} <br>
                                        <i class="fa fa-map-marker"></i>
                                        <span>{{experience.company}}</span>
                                        <br>
                                    </div>
                                    <!--<div><p>{{experience.description}}</p></div>-->
                                    <div ng-bind-html="vm.bindHtml(experience.description)"></div>

                                </dd>
                            </div>

                        </dl>
                    </div>
                    <hr>
                    <h2 class="sidebar-label">Education</h2>

                    <div class="row">
                        <dl class="dl-horizontal">
                            <div ng-repeat="education in vm.professional.profile.data.educations.data">
                                <dt>{{education.started_date | date:'MMM yyyy'}} - {{education.ended_date | date:'MMM
                                    yyyy'}}
                                </dt>
                                <dd>
                                    <div class="list-icons location">
                                        {{education.grad_level}} in {{education.study_field}}<br>
                                        <i class="fa fa-map-marker"></i>
                                        <span>{{education.school_name}}</span>
                                        <br>
                                    </div>

                                </dd>
                            </div>
                        </dl>
                    </div>
                    <hr>
                    <h2 class="sidebar-label">Skills</h2>

                    <div class="col-lg-12">
                        <ul class="list-unstyled list-inline">
                            <li ng-repeat="skill in vm.professional.profile.data.skills.data">
                            <span class="label label-info label-big">
                                {{skill.skill}}
                            </span>
                            </li>

                        </ul>

                    </div>
                    <h2 class="sidebar-label">Connect</h2>

                    <div class="col-lg-12 connect">
                        <a href="{{vm.professional.address.data.linkidin_link}}"><i
                                class="fa fa-linkedin-square fa-2x"></i></a>
                    </div>

                    <div style="padding-right:20px;" class="pull-right" ng-show="showButton">
                        <div class="form-group">
                            <div class="row"><br><br>
                                <button class="btn btn-orange btn-sm"
                                        ui-sref="main.public.professionalDashboard.profile({professionalId:vm.professional.id})">
                                    Edit Profile
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="side-navigation">
                        <div style="margin-bottom:15px;">
                            <div ng-if="!currentUser" class="row">
                                <form class="panel panel-default" role="form" name="loginForm" novalidate>
                                    <h2 class="panel-heading">Login</h2>
                                    <small class="display-block  alert-danger">{{loginError}}</small>
                                    <img class="col-md-offset-4" ng-show="authenticating" height="80px"
                                         src="assets/images/loading.png"/>

                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"
                                                     ng-class="{ 'has-error': (loginForm.company.$touched || loginForm.$submitted) && loginForm.company.$invalid || loginError != ''}">
                                                    <label>Email</label>
                                                    <input required name="company" class="form-control" type="email"
                                                           placeholder="Enter your email here"
                                                           ng-model="email">

                                                    <div class="form_error" ng-messages="loginForm.company.$error"
                                                         ng-if="loginForm.company.$touched || loginForm.$submitted || loginError != ''"
                                                         role="alert">
                                                        <p ng-message="required">Name cannot be empty!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group"
                                                     ng-class="{ 'has-error': (loginForm.password.$touched || loginForm.$submitted) && loginForm.password.$invalid || loginError != ''}">
                                                    <label>Password</label>
                                                    <input required name="password" class="form-control" type="password"
                                                           placeholder=""
                                                           ng-model="password">

                                                    <div class="form_error" ng-messages="loginForm.password.$error"
                                                         ng-if="loginForm.password.$touched || loginForm.$submitted || loginError != ''"
                                                         role="alert">
                                                        <p ng-message="required">Password cannot be empty!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" class="col-md-12 btn btn-default pull-right" value="Login"
                                               ng-click="singIn(loginForm.$valid, email, password)"/>

                                        <p style="margin-top: 10px">If You don't have an Account,</p>

                                        <a ui-sref="main.public.pricing"><i class="fa fa-user"></i>&nbsp;&nbsp;Sign
                                            Up</a>

                                    </div>
                                </form>
                            </div>
                            <figure ng-if="currentUser" class="position-static">
                                <figure>
                                    <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                                </figure>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End news section -->
</div>