<div class="container">
    <section class="page-banner-section">
        <div class="row">
            <div class="col-md-6">
                <h2>{{vm.supplier.name}}</h2>
            </div>
            <div class="col-md-6">
                <ul class="page-depth">
                    <li><a href="" ui-sref="main.public.supplier">Suppliers</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- news-section
            ================================================== -->
    <section class="news-section ">
        <div class="row">
            <div class="col-lg-9 panel panel-default panel-default-main">

                <div class="row">
                    <div class="col-lg-2">
                        <img class="logo image-round-border"
                             src="{{ vm.supplier.logo}}" alt=""
                             width="90" height="90">
                    </div>
                    <div class="col-lg-8">
                        <h2 class="detail-title list-title">{{vm.supplier.name}}</h2>
                        <h4 class="detail-subtitle">{{vm.supplier.profile.data.type}}</h4>
                        <h4 class="detail-subtitle">{{vm.supplier.profile.data.level}}</h4>
                    </div>
                    <div class="col-lg-2">
                        <div style="padding-right:20px;" class="pull-right"
                             ng-show="(currentUser.supplier.data.supplier_id==vm.supplier.id)">
                            <div class="form-group">
                                <div class="row"><br><br>
                                    <button class="btn btn-orange btn-sm"
                                            ui-sref="main.public.supplierDashboard.profile({supplierId:vm.supplier.id})">
                                        Edit Profile
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <hr>
                    <div class="col-lg-10">

                        <ul class="list-icons location list-unstyled">

                            <li>
                                <i class="fa fa-map-marker">&nbsp; Specific Address</i> <span>{{vm.supplier.address.data.sub_city}} Sub city at {{vm.supplier.address.data.specific_address}}</span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker">&nbsp; Address</i> <span>{{vm.supplier.address.data.city}}, {{vm.supplier.address.data.country}}</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope">&nbsp; Email:</i> <span><a
                                    href="mailto:{{ vm.supplier.email }}">{{vm.supplier.email}}</a></span>
                            </li>
                            <li>
                                <i class="fa fa-phone">&nbsp; Phone No.</i> <span><a
                                    href="mailto:{{ vm.supplier.email }}">{{vm.supplier.address.data.phone_number_1}}</a></span>
                            </li>
                            <li>
                                <i class="fa fa-phone">&nbsp; Cell phone</i> <span><a
                                    href="mailto:{{ vm.supplier.email }}">{{vm.supplier.address.data.phone_number_2}}</a></span>
                            </li>
                            <li>
                                <i class="fa fa-tags">&nbsp; Supplier Categories:</i>
                                <span ng-if="vm.supplier.profile.data.category.data.length == 0"
                                      class="label label-warning"
                                      style="color: white !important;">No Category</span><br>
                                <span class="label main-color" style="color: white !important;"
                                      ng-repeat="category in vm.supplier.profile.data.category.data"> {{ category.category }}<br></span>,<br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <h2>Brief Description</h2>

                    <div class="row">

                        <div class="col-lg-12"><span>Established in {{vm.supplier.profile.data.established_year | date:"MMM, yyyy"}}</span>
                            <br>

                            <p ng-bind-html="vm.dumpHTML(vm.supplier.profile.data.description)"></p>
                        </div>
                    </div>


                </div>
                <div class="row" ng-hide="vm.products == null">
                    <hr>
                    <h2>Supplier's Product List</h2>

                    <div class="col-lg-12">
                        <ul class="list-unstyled product_list">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="well prod_thumnail col-md-3" ng-repeat="product in vm.products">
                                        <div class="prod_logo"><img class="img-thumbnail"
                                                                    src="{{ product.logo }}" alt=""></div>
                                        <div class="prod_detail">
                                            <h2 class="prod_title text-center">{{ product.name | limitTo:15 }}</h2>

                                            <div><strong>Available Qty: </strong>{{product.quantity}}</div>
                                            <div><strong>Category: </strong>{{ product.category|limitTo:18}}...</div>
                                            <div><strong>Supplier: </strong>{{product.supplier.data.supplier_name|limitTo:18}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="sidebar-label">{{vm.supplier.name}}</h2>
                        <ul class="list-unstyled company-info">
                            <li><i class="fa fa-globe"></i>&nbsp; {{vm.supplier.address.data.website}}</li>
                            <li><i class="fa fa-phone"></i>&nbsp; {{vm.supplier.address.data.phone_number_1}}</li>
                            <li><i class="fa fa-phone"></i>&nbsp; {{vm.supplier.address.data.phone_number_2}}</li>
                            <li><i class="fa fa-envelope"></i>&nbsp; {{vm.supplier.email}}</li>
                        </ul>
                        <h2 class="sidebar-label">Connect with us</h2>

                        <div class="company-details">

                            <ul class="list-unstyled list-inline company-info">
                                <li ng-if="vm.supplier.address.data.facebook_link != ''"><a
                                        href="http://{{vm.supplier.address.data.facebook_link}}"><i
                                        class="fa fa-facebook-square fa-2x"></i></a></li>
                                <li ng-if="vm.supplier.address.data.google_link!=''"><a
                                        href="http://{{vm.supplier.address.data.google_link}}"><i
                                        class="fa fa-google-plus-square fa-2x"></i></a></li>
                                <li ng-if="vm.supplier.address.data.instagram_link!=''"><a
                                        href="http://{{vm.supplier.address.data.instagram_link}}"><i
                                        class="fa fa-instagram fa-2x"></i></a></li>
                                <li ng-if="vm.supplier.address.data.twitter_link!=''"><a
                                        href="http://{{vm.supplier.address.data.twitter_link}}"><i
                                        class="fa fa-twitter fa-2x"></i></a></li>
                                <li ng-if="vm.supplier.address.data.linkidin_link !=''"><a
                                        href="http://{{vm.supplier.address.data.linkidin_link}}"><i
                                        class="fa fa-linkedin-square fa-2x"></i></a></li>
                            </ul>


                        </div>
                    </div>


                </div>
                <div class="side-navigation">
                    <div style="margin-bottom:15px;">
                        <figure class="position-static">
                            <figure>
                                <img src="assets/images/public/images/ad-5.jpg" alt="" width="100%">
                            </figure>
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End news section -->
</div>