.text-center {
  text-align: center;
}

.multiple-date-picker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.multiple-date-picker,
.picker-top-row,
.picker-days-week-row,
.picker-days-row {
  width: 100%;
}

.picker-top-row > div {
  display: inline-block;
}

.picker-navigate {
  width: 16.66%;
}

.picker-navigate:hover {
  cursor: pointer;
}

.picker-navigate.disabled,
.picker-navigate.disabled:hover {
  color: #ddd;
  cursor: default;
}

.picker-month {
  width: 66.66%;
}

.picker-days-week-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-days-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-days-row > div {
  width: 14.28%;
  display: inline-block;
}

.picker-top-row,
.picker-day {
  padding: 10px 0;
}

.picker-day {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

.picker-day.today,
.picker-day.today:hover,
.picker-day.today.picker-selected,
.picker-day.today.picker-off,
.picker-day.today.picker-off:hover {
  color: #00a3ff;
  font-weight: bold;
}

.picker-day:not(.picker-off):not(.picker-empty):hover {
  background-color: #7986CB;
  color: #ffffff;
  cursor: pointer;
}

.picker-day.picker-selected {
  background-color:#7986CB;
  color: #ffffff;
}

.picker-day.picker-off,
.picker-day.picker-off:hover {
  background-color: #eeeeee;
  color: #bbbbbb;
  cursor: default;
}

.picker-day.picker-empty,
.picker-day.picker-empty:hover {
  background-color: #fafafa;
  cursor: default;
}








/*apply colors if not selected, if selected I want the default selected css*/
.picker-day.holiday:not(.picker-selected){
    background-color: #00ffa2;
    color: #fff;
}

/*if my holiday isn't clickable (it's the case in the demo)*/
.picker-day.holiday.picker-off{
    background-color: #00a267;
    color: #fff;
    cursor: default;
}

/*my birthday, is clickable*/
.picker-day.birthday:not(.picker-selected){
    background-color: #ded100;
    color: #000;
}